<div class="section bg-primary-app">
    <figure class="position-absolute top-0 left-0 w-100 d-none d-md-block mt-n3">
        <svg class="fill-primary-app" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4" style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
           <path d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z"></path>
        </svg>
    </figure>
    <div class="container">
        <div class="row row-grid align-items-center">
            <div class="col-12 col-lg-6">
                <span class="h5 text-muted mb-2 d-block">Download App</span>
                <h2 class="display-3 mb-4">Get started in seconds</h2>
                <p class="lead text-muted">Quickly connect to tools and services such as Google Analytics, Google Search Console, Intercom or Github to track, measure and optimize performance. </p>
                <div class="d-sm-flex flex-wrap mt-4 mt-lg-5">
                    <div>
                        <a href="#" class="btn btn-dark mb-3 mb-sm-0 me-3">
                            <span class="d-flex align-items-center">
                                <span class="icon icon-brand me-2"><span class="fab fa-apple"></span></span>
                                <span class="d-inline-block text-left">
                                    <small class="fw-normal d-block">Available on</small> App Store 
                                </span> 
                            </span>
                        </a>
                    </div>
                    <div>
                        <a href="#" class="btn btn-dark">
                            <span class="icon icon-brand me-2"><span class="fab fa-google-play"></span></span>
                            <span class="d-inline-block text-left">
                                <small class="fw-normal d-block">Available on</small> Google Play
                            </span> 
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-5 ms-lg-auto">
                <img class="d-none d-lg-inline-block" src="../../assets/img/illustrations/app-landing-cta.svg" alt="Mobile App Illustration">
            </div>
        </div>
    </div>
</div>