<section class="section section-md pb-0">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2>Blog</h2>
            </div>
        </div>
    </div>
</section>

<!-- Section -->
<div class="section section-md">
    <div class="container">
        <div class="row mb-6 mb-lg-7">
            <div class="col-md-12 text-center">
                <span class="h5">Example 1</span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <div class="timeline timeline-two">
                    <!-- Timeline Item 1 -->
                    <div class="timeline-item rounded border border-gray-300 p-lg-5">
                        <div class="post-meta mb-3">
                            <a class="text-secondary fw-bold me-3" href="#"><span class="far fa-heart me-1"></span>2.1k</a>
                            <span class="text-gray"><span class="far fa-clock me-1"></span>Jan 03, 2019</span>
                        </div>
                        <h2 class="h4 mb-3">You can now try out Microsoft's Edge browser for macOS</h2>
                        <p class="lead">Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum.</p>
                        <a href="#" class="btn btn-sm btn-primary btn-icon animate-up-1">
                            See story
                        </a>
                    </div>
                    <!-- Timeline Item 2 -->
                    <div class="timeline-item rounded border border-gray-300 p-lg-5">
                        <div class="post-meta mb-3">
                            <a class="text-secondary fw-bold me-3" href="#"><span class="far fa-heart me-1"></span>10k</a>
                            <span class="text-gray"><span class="far fa-clock me-1"></span>Mar 10, 2017</span>
                        </div>
                        <h2 class="h4 mb-3">We sold more than 1000 copies </h2>
                        <p class="lead">Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum.</p>
                        <a href="#" class="btn btn-sm btn-primary btn-icon animate-up-1">
                            See story
                        </a>
                    </div>
                    <!-- Timeline Item 3 -->
                    <div class="timeline-item rounded border border-gray-300 p-lg-5">
                        <div class="post-meta mb-3">
                            <a class="text-secondary fw-bold me-3" href="#"><span class="far fa-heart me-1"></span>15.2k</a>
                            <span class="text-gray"><span class="far fa-clock me-1"></span>Set 24, 2016</span>
                        </div>
                        <h2 class="h4 mb-3">Sony blindsides PS5 team with news of Microsoft partnership</h2>
                        <p class="lead">Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum.</p>
                        <a href="#" class="btn btn-sm btn-primary btn-icon animate-up-1">
                            See story
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of section -->
<!-- Section -->
<section class="section section-md">
    <div class="container">
        <div class="row mb-6">
            <div class="col-md-12 text-center">
                <span class="h5">Example 2</span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h2 class="h1 fw-light mb-3">Latest from our <span class="fw-bold">blog</span> </h2>
                <p class="lead">We use an agile approach to test assumptions and connect with the needs of your audience early and often. Technology enables great experiences.</p>
            </div>
        </div>
        <div class="row justify-content-center mt-5 mt-lg-6">
            <div class="col-12 col-lg-8">
                <div class="card border-gray-300 mb-5">
                    <div class="row g-0 align-items-center">
                        <div class="col-md-4">
                            <img src="../../assets/img/blog/image-4.jpg" class="card-img rounded-left" alt="Our office">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body px-5">
                                <a href="#"><h3 class="card-title">We partnered up with Google</h3></a>
                                <p class="card-text mb-4">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="card-text small"><span class="far fa-calendar-alt me-2"></span>15 March 2021</span>
                                    <a href="#" class="small"><span class="far fa-comments me-2"></span>21</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <div class="card border-gray-300">
                    <div class="row g-0 align-items-center">
                        <div class="col-md-4">
                            <img src="../../assets/img/blog/image-5.jpg" class="card-img rounded-left" alt="Google Office">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body px-5">
                                <a href="#"><h3 class="card-title">We partnered up with Google</h3></a>
                                <p class="card-text mb-4">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="card-text small"><span class="far fa-calendar-alt me-2"></span>15 March 2021</span>
                                    <a href="#" class="small"><span class="far fa-comments me-2"></span>21</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-4 mt-lg-5 text-center">
                <button class="btn btn-white border-gray-300" type="button">Show more</button>
            </div>
        </div>
    </div>
</section>
<!-- End of section -->
<!-- Section -->
<section class="section section-md">
    <div class="container">
        <div class="row mb-6">
            <div class="col-md-12 text-center">
                <span class="h5">Example 3</span>
            </div>
        </div>
        <div class="row align-items-center justify-content-between text-center text-md-left">
            <div class="col-md-4 mb-4 mb-lg-0">
                <h2 class="display-2 fw-light">Latest news from our <span class="fw-bold">blog</span></h2>
            </div>
            <div class="col-md-8 col-lg-6">
                <p class="lead mb-0">We use an agile approach to test assumptions and connect with the needs of your audience early and often. Technology enables great experiences. We like and use technology but we have tried hard to not fall in love with it.Clever
                    use of technology and lean processes enable us to work faster and smarter.</p>
            </div>
        </div>
        <div class="row mt-5 mt-lg-7">
            <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="card border-gray-300">
                    <img src="../../assets/img/blog/image-2.jpg" class="card-img-top rounded-top" alt="Bonnie office">
                    <div class="card-body">
                        <div class="media d-flex align-items-center justify-content-between">
                            <div class="post-group">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="23k followers">
                                    <img class="avatar-sm me-2 img-fluid rounded-circle" src="../../assets/img/team/profile-picture-2.jpg" alt="Boonie avatar"> Boonie Green
                                </a>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="small"><span class="far fa-calendar-alt me-2"></span>15 March 2021</span>
                            </div>
                        </div> 
                        <h3 class="h5 card-title mt-4">We partnered up with Ildiesign</h3>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary btn-sm">Learn More</a>
                    </div>
                    </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="card border-gray-300">
                    <img src="../../assets/img/blog/image-1.jpg" class="card-img-top rounded-top" alt="Designer desk">
                    <div class="card-body">
                        <div class="media d-flex align-items-center justify-content-between">
                            <div class="post-group">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="23k followers">
                                    <img class="avatar-sm me-2 img-fluid rounded-circle" src="../../assets/img/team/profile-picture-2.jpg" alt="Moore avatar"> Jo J. Moore
                                </a>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="small"><span class="far fa-calendar-alt me-2"></span>15 March 2021</span>
                            </div>
                        </div> 
                        <h3 class="h5 card-title mt-4">We partnered up with Ildiesign</h3>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary btn-sm">Learn More</a>
                    </div>
                    </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card border-gray-300">
                    <img src="../../assets/img/blog/image-3.jpg" class="card-img-top rounded-top" alt="Google office">
                    <div class="card-body">
                        <div class="media d-flex align-items-center justify-content-between">
                            <div class="post-group">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="23k followers">
                                    <img class="avatar-sm me-2 img-fluid rounded-circle" src="../../assets/img/team/profile-picture-2.jpg" alt="Jose avatar">Jose Leos
                                </a>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="small"><span class="far fa-calendar-alt me-2"></span>15 March 2021</span>
                            </div>
                        </div> 
                        <h3 class="h5 card-title mt-4">We partnered up with Ildiesign</h3>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary btn-sm">Learn More</a>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</section>
<!-- End of section -->