<section class="section section-md pb-0">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2>Contact</h2>
            </div>
        </div>
    </div>
</section>

<!-- Section -->
<div class="section section-lg pb-5">
    <div class="container">
        <div class="row mb-6">
            <div class="col text-center">
                <span class="h5">Example 1</span>
            </div>
        </div>
        <div class="row mt-4 mt-lg-6 align-items-center justify-content-between">
            <div class="col-12 col-lg-4 text-center">
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-12">
                        <!-- Visit Box -->
                        <div class="icon-box mb-5">
                            <div class="icon icon-dark mb-4">
                                <span class="fas fa-map-marker-alt"></span>
                            </div>
                            <h2 class="h5">Visit us</h2>
                            <span>
                                27 Silicon Valley
                                <br>USA, California
                            </span>
                        </div>
                        <!-- End of Visit Box -->
                    </div>
                    <div class="col-12 col-sm-6 col-lg-12">
                        <!-- Email Box -->
                        <div class="icon-box mb-4">
                            <div class="icon icon-dark mb-4">
                                <span class="far fa-paper-plane"></span>
                            </div>
                            <h2 class="h5">Email</h2>
                            <a href="#">support@themesberg.com</a>
                            <br><a href="#">zoli@themesberg.com</a>
                        </div>
                        <!-- End of Email Box -->
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8 mt-4 mt-md-0">
                <!-- Contact Card -->
                <div class="card border-gray-300 p-2 p-md-3 p-lg-5">
                    <div class="card-header border-0 bg-white">
                        <h3 class="h4">Want to work with us?</h3>
                        <p>Cool! Let’s talk about your project</p>
                    </div>
                    <div class="card-body pt-0">
                        <form action="#">
                            <!-- Form -->
                            <div class="mb-4">
                                <label for="name">Your Name</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon3"><span class="fas fa-user-circle"></span></span>
                                    <input type="text" class="form-control" placeholder="e.g. Bonnie Green" id="name" required>
                                </div>
                            </div>
                            <!-- End of Form -->
                            <!-- Form -->
                            <div class="mb-4">
                                <label for="email">Your Email</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon4"><span class="fas fa-envelope"></span></span>
                                    <input type="email" class="form-control" placeholder="example@company.com" id="email" required>
                                </div>
                            </div>
                            <!-- End of Form -->
                            <div class="mb-4">
                                <label for="message">Your Message</label>
                                <textarea placeholder="Your message" class="form-control" id="message" rows="4" required></textarea>
                            </div>
                            <!-- End of Form -->
                            <div class="d-grid">
                                <button type="submit" class="btn btn-secondary">Send message</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- End of Contact Card -->
            </div>
        </div>
    </div>
</div>
<!-- End of section -->
<!-- Section -->
<div class="section section-md">
    <div class="container">
        <div class="row mb-6">
            <div class="col-md-12 text-center">
                <span class="h5">Example 2</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4 text-center">
                <!-- Visit Box -->
                <div class="icon-box mb-4">
                    <div class="icon icon-dark mb-4">
                        <span class="fas fa-map-marker-alt"></span>
                    </div>
                    <h2 class="h5 icon-box-title">Visit us</h2>
                    <span>
                        27 Silicon Valley
                        <br>USA, California
                    </span>
                </div>
                <!-- End of Visit Box -->
            </div>
            <div class="col-sm-6 col-lg-4 text-center">
                <!-- Call Box -->
                <div class="icon-box mb-4">
                    <div class="icon icon-dark mb-4">
                        <span class="fas fa-phone-volume"></span>
                    </div>
                    <h2 class="h5 icon-box-title">Call</h2>
                    <span>+3912345678</span>
                    <div class="text-small text-gray">
                        Mon - Fri, 8am - 4pm
                    </div>
                </div>
                <!-- End of Call Box -->
            </div>
            <div class="col-sm-6 col-lg-4 text-center">
                <!-- Email Box -->
                <div class="icon-box mb-4">
                    <div class="icon icon-dark mb-4">
                        <span class="far fa-paper-plane"></span>
                    </div>
                    <h2 class="h5 icon-box-title">Email</h2>
                    <a href="#">hello@company.io</a>
                </div>
                <!-- End of Email Box -->
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <!-- Contact Card -->
                <div class="card border-0 p-2 p-md-3 p-lg-5">
                    <div class="card-header bg-white border-0 text-center">
                        <h2>Want to work with us?</h2>
                        <p>Cool! Let’s talk about your project</p>
                    </div>
                    <div class="card-body pt-0">
                        <form action="#">
                            <!-- Form -->
                            <div class="mb-4">
                                <label for="name">Your Name</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon3"><span class="fas fa-user-circle"></span></span>
                                    <input type="text" class="form-control" placeholder="e.g. Bonnie Green" id="name" required>
                                </div>
                            </div>
                            <!-- End of Form -->
                            <!-- Form -->
                            <div class="mb-4">
                                <label for="email">Your Email</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon4"><span class="fas fa-envelope"></span></span>
                                    <input type="email" class="form-control" placeholder="example@company.com" id="email" required>
                                </div>
                            </div>
                            <!-- End of Form -->
                            <div class="mb-4">
                                <label for="message">Your Message</label>
                                <textarea placeholder="Your message" class="form-control" id="message" rows="4" required></textarea>
                            </div>
                            <!-- End of Form -->
                            <div class="d-grid">
                                <button type="submit" class="btn btn-secondary">Send message</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- End of Contact Card -->
            </div>
        </div>
    </div>
</div>
<!-- End of section -->