<section class="section section-md pb-0">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2>Features</h2>
            </div>
        </div>
    </div>
</section>

<!-- Section -->
<section class="section section-md">
    <div class="container">
        <div class="row mb-6">
            <div class="col-md-12 text-center">
                <span class="h5">Example 1</span>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-12 col-lg-10">
                <h2 class="h1 fw-light mb-4">We are <span class="fw-bold">determined</span> to fix all your problems.</h2>
                <p class="lead">We have developed a multi-discipline portfolio as a digital marketing agency.
                </p>
            </div>
        </div>
        <div class="row justify-content-between mt-4">
            <div class="col-sm-12 col-md-6 col-lg-5 mb-5 mb-md-0">
                <!-- Icon Box -->
                <div class="icon-box">
                    <div class="icon icon-shape icon-shape-secondary organic-radius mb-4">
                        <span class="fas fa-tablet-alt"></span>
                    </div>
                    <h3 class="h4">Responsive design</h3>
                    <p class="my-3">The share of mobile devices is growing all the time. Responsive design means that the layout of a website automatically adapts to the screen dimensions.</p>
                    <a href="#" class="btn btn-sm btn-primary animate-up-1">
                        <span class="far fa-eye"></span>
                        <span class="ms-1">See more</span>
                    </a>
                </div>
                <!-- End of Icon Box -->
            </div>
            <div class="col-sm-12 col-md-6 col-lg-5">
                <!-- Icon Box -->
                <div class="icon-box">
                    <div class="icon icon-shape icon-shape-secondary organic-radius mb-4">
                        <span class="fas fa-fire-alt"></span>
                    </div>
                    <h3 class="h4">Fast loading</h3>
                    <p class="my-3">The amount of mobile users (who in general have slow connections) has increased, and the speed of wired connections hasn’t significantly increased either.</p>
                    <a href="#" class="btn btn-sm btn-primary animate-up-1">
                        <span class="far fa-eye"></span>
                        <span class="ms-1">See more</span>
                    </a>
                </div>
                <!-- End of Icon Box -->
            </div>
        </div>
    </div>
</section>
<!-- End of section -->
<!-- Section -->
<section class="section section-md bg-gray-200">
    <div class="container">
        <div class="row mb-6">
            <div class="col-md-12 text-center">
                <span class="h5">Example 2</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-8 text-center mx-auto">
                <h2 class="h1 fw-light mb-4"><span class="fw-bold">Features</span> to blow your mind</h2>
                <p class="lead">
                    We have developed a multi-discipline portfolio as a digital marketing agency, we also have roots in print media and even photography.
                </p>
            </div>
        </div>
        <div class="row mt-6">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <!-- Icon Box -->
                <div class="card border-gray-300 mb-4">
                    <div class="card-body">
                        <div class="d-flex p-3">
                            <div>
                                <div class="icon icon-primary">
                                    <span class="far fa-lightbulb"></span>
                                </div>
                            </div>
                            <div class="ps-4">
                                <h3 class="h5 icon-box-title">Ideas and Concepts</h3>
                                <p class="icon-box-text">You can rely on our amazing features list and also our customer services will be great experience for your company.</p>
                                <a href="#" class="fw-bold text-primary">
                                    <span class="me-1">Learn More</span>
                                    <span class="icon icon-xs"><span class="fas fa-chevron-right"></span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Icon Box -->
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <!-- Icon Box -->
                <div class="card border-gray-300 mb-4">
                    <div class="card-body">
                        <div class="d-flex p-3">
                            <div>
                                <div class="icon icon-primary">
                                    <span class="fas fa-fingerprint"></span>
                                </div>
                            </div>
                            <div class="ps-4">
                                <h3 class="h5 icon-box-title">New technologies</h3>
                                <p class="icon-box-text">You can rely on our amazing features list and also our customer services will be great experience for your company.</p>
                                <a href="#" class="fw-bold text-primary">
                                    <span class="me-1">Learn More</span>
                                    <span class="icon icon-xs"><span class="fas fa-chevron-right"></span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Icon Box -->
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <!-- Icon Box -->
                <div class="card border-gray-300 mb-4">
                    <div class="card-body">
                        <div class="d-flex p-3">
                            <div>
                                <div class="icon icon-primary">
                                    <span class="far fa-keyboard"></span>
                                </div>
                            </div>
                            <div class="ps-4">
                                <h3 class="h5 icon-box-title">Powerful Code</h3>
                                <p class="icon-box-text">You can rely on our amazing features list and also our customer services will be great experience for your company.</p>
                                <a href="#" class="fw-bold text-primary">
                                    <span class="me-1">Learn More</span>
                                    <span class="icon icon-xs"><span class="fas fa-chevron-right"></span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Icon Box -->
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <!-- Icon Box -->
                <div class="card border-gray-300 mb-4">
                    <div class="card-body">
                        <div class="d-flex p-3">
                            <div>
                                <div class="icon icon-primary">
                                    <span class="far fa-grin-stars"></span>
                                </div>
                            </div>
                            <div class="ps-4">
                                <h3 class="h5 icon-box-title">Creative peoples</h3>
                                <p class="icon-box-text">You can rely on our amazing features list and also our customer services will be great experience for your company.</p>
                                <a href="#" class="fw-bold text-primary">
                                    <span class="me-1">Learn More</span>
                                    <span class="icon icon-xs"><span class="fas fa-chevron-right"></span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Icon Box -->
            </div>
        </div>
    </div>
</section>
<!-- End of section -->
<!-- Section -->
<section class="section section-md">
    <div class="container">
        <div class="row mb-6">
            <div class="col-md-12 text-center">
                <span class="h5">Example 3</span>
            </div>
        </div>
        <div class="row align-items-center justify-content-around">
            <div class="col-12 col-lg-4">
                <!-- Icon Box -->
                <div class="icon-box text-center mb-5">
                    <div class="icon icon-shape icon-shape-secondary rounded-circle mb-4">
                        <span class="far fa-lightbulb"></span>
                    </div>
                    <h3 class="h5">Ideas and Concepts</h3>
                    <p class="icon-box-text">We work to figure out ways to help your business grow through all platforms.
                    </p>
                    <a href="#" class="btn btn-white btn-sm border-gray-300">Learn more</a>
                </div>
                <!-- End of Icon Box -->
                <!-- Icon Box -->
                <div class="icon-box text-center mb-5 mb-lg-0">
                    <div class="icon icon-shape icon-shape-secondary rounded-circle mb-4">
                        <span class="fas fa-fingerprint"></span>
                    </div>
                    <h3 class="h5">New technologies</h3>
                    <p class="icon-box-text">We work to figure out ways to help your business grow through all platforms.
                    </p>
                    <a href="#" class="btn btn-white btn-sm border-gray-300">Learn more</a>
                </div>
                <!-- End of Icon Box -->
            </div>
            <div class="col-md-6 col-lg-4">
                <!-- Illustration -->
                <img class="d-none d-lg-block" src="../../assets/img/illustrations/feature.svg" alt="illustration">
                <!-- / Illustration -->
            </div>
            <div class="col-12 col-lg-4">
                <!-- Icon Box -->
                <div class="icon-box text-center mb-5">
                    <div class="icon icon-shape icon-shape-secondary rounded-circle mb-4">
                        <span class="fas fa-code"></span>
                    </div>
                    <h3 class="h5">Powerful code</h3>
                    <p class="icon-box-text">We work to figure out ways to help your business grow through all platforms.
                    </p>
                    <a href="#" class="btn btn-white btn-sm border-gray-300">Learn more</a>
                </div>
                <!-- End of Icon Box -->
                <!-- Icon Box -->
                <div class="icon-box text-center mb-5 mb-lg-0">
                    <div class="icon icon-shape icon-shape-secondary rounded-circle mb-4">
                        <span class="far fa-grin-stars"></span>
                    </div>
                    <h3 class="h5">Creative peoples</h3>
                    <p class="icon-box-text">We work to figure out ways to help your business grow through all platforms.
                    </p>
                    <a href="#" class="btn btn-white btn-sm border-gray-300">Learn more</a>
                </div>
                <!-- End of Icon Box -->
            </div>
        </div>
    </div>
</section>
<!-- End of section -->
<!-- Section -->
<div class="section section-md">
    <div class="container">
        <div class="row mb-6">
            <div class="col-md-12 text-center">
                <span class="h5">Example 4</span>
            </div>
        </div>
        <div class="row align-items-center justify-content-around">
            <div class="col-md-6 col-lg-3 mb-5">
                <img class="img-fluid d-none d-md-block" src="../../assets/img/iphone.png" alt="Phone mockup">
            </div>
            <div class="col-md-6 col-lg-7">
                <!-- Icon Box -->
                <div class="card border-0 mb-2">
                    <div class="card-body">
                        <div class="d-flex p-2">
                            <div>
                                <div class="icon icon-secondary">
                                    <span class="far fa-hand-pointer"></span>
                                </div>
                            </div>
                            <div class="ps-4">
                                <h3 class="h5 icon-box-title">Powerful Code</h3>
                                <p class="icon-box-text">You can rely on our amazing features list and also our customer services will be great experience for your company.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Icon Box -->
                <!-- Icon Box -->
                <div class="card border-0 mb-2">
                    <div class="card-body">
                        <div class="d-flex p-2">
                            <div>
                                <div class="icon icon-secondary">
                                    <span class="fas fa-fingerprint"></span>
                                </div>
                            </div>
                            <div class="ps-4">
                                <h3 class="h5 icon-box-title">New technologies</h3>
                                <p class="icon-box-text">You can rely on our amazing features list and also our customer services will be great experience for your company.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Icon Box -->
                <!-- Icon Box -->
                <div class="card border-0 mb-2">
                    <div class="card-body">
                        <div class="d-flex p-3">
                            <div>
                                <div class="icon icon-secondary">
                                    <span class="far fa-grin-stars"></span>
                                </div>
                            </div>
                            <div class="ps-4">
                                <h3 class="h5 icon-box-title">Creative components</h3>
                                <p class="icon-box-text">You can rely on our amazing features list and also our customer services will be great experience for your company.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Icon Box -->
            </div>
        </div>
    </div>
</div>
<!-- End of section -->
<!-- Section -->
<div class="section section-lg bg-primary">
    <div class="container">
        <div class="row mb-6 text-white">
            <div class="col-md-12 text-center">
                <span class="h5">Example 5</span>
            </div>
        </div>
        <div class="row text-white align-items-center justify-content-around">
            <div class="col-md-12 col-lg-5">
                <img class="img-fluid mb-5 mb-lg-0" src="../../assets/img/feature-elements.png" alt="ui elements">
            </div>
            <div class="col-md-12 col-lg-7">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <!-- Icon Box -->
                        <div class="icon-box text-center mb-5">
                            <div class="icon icon-white mb-4">
                                <span class="far fa-lightbulb"></span>
                            </div>
                            <h3 class="h5 mb-3">Ideas and Concepts</h3>
                            <p>We work to figure out ways to help your business grow through all platforms.</p>
                        </div>
                        <!-- End of Icon Box -->
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 mb-5">
                        <!-- Icon Box -->
                        <div class="icon-box text-center">
                            <div class="icon icon-white mb-4">
                                <span class="far fa-sun"></span>
                            </div>
                            <h3 class="h5 mb-3">Highly Customizable</h3>
                            <p>We work to figure out ways to help your business grow through all platforms.</p>
                        </div>
                        <!-- End of Icon Box -->
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <!-- Icon Box -->
                        <div class="icon-box text-center mb-5 mb-lg-0">
                            <div class="icon icon-white mb-4">
                                <span class="far fa-keyboard"></span>
                            </div>
                            <h3 class="h5 mb-3">Powerful code</h3>
                            <p>We work to figure out ways to help your business grow through all platforms.</p>
                        </div>
                        <!-- End of Icon Box -->
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <!-- Icon Box -->
                        <div class="icon-box text-center">
                            <div class="icon icon-white mb-4">
                                <span class="far fa-handshake"></span>
                            </div>
                            <h3 class="h5 mb-3">Built For Startups</h3>
                            <p>We work to figure out ways to help your business grow through all platforms.</p>
                        </div>
                        <!-- End of Icon Box -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of section -->
<!-- Section -->
<section class="section section-md">
    <div class="container">
        <div class="row mb-6">
            <div class="col-md-12 text-center">
                <span class="h5">Example 6</span>
            </div>
        </div>
        <div class="row align-items-center justify-content-around">
            <div class="col-md-12 col-lg-4 mb-5 mb-lg-0">
                <!-- Icon Box -->
                <div class="icon-box text-lg-right mb-5">
                    <div class="icon icon-primary mb-4">
                        <span class="far fa-lightbulb"></span>
                    </div>
                    <h3 class="h5">Ideas and Concepts</h3>
                    <p class="icon-box-text">You can relay on our amazing features list and also our customer services will be great experience.</p>
                </div>
                <!-- End of Icon Box -->
                <!-- Icon Box -->
                <div class="icon-box text-lg-right mb-5 mb-md-0">
                    <div class="icon icon-primary mb-4">
                        <span class="far fa-sun"></span>
                    </div>
                    <h3 class="h5">Highly Customizable</h3>
                    <p class="icon-box-text">You can relay on our amazing features list and also our customer services will be great experience.</p>
                </div>
                <!-- End of Icon Box -->
            </div>
            <div class="col-md-8 col-lg-3">
                <!-- Icon Box -->
                <img class="organic-radius d-none d-lg-block" src="../../assets/img/sections/about-us-2.jpg" alt="Office">
                <!-- End of Icon Box -->
            </div>
            <div class="col-md-12 col-lg-4">
                <!-- Icon Box -->
                <div class="icon-box mb-5">
                    <div class="icon icon-primary mb-4">
                        <span class="far fa-keyboard"></span>
                    </div>
                    <h3 class="h5">Powerful code</h3>
                    <p class="icon-box-text">You can relay on our amazing features list and also our customer services will be great experience.</p>
                </div>
                <!-- End of Icon Box -->
                <!-- Icon Box -->
                <div class="icon-box mb-5 mb-md-0">
                    <div class="icon icon-primary mb-4">
                        <span class="far fa-handshake"></span>
                    </div>
                    <h3 class="h5">Built For Startups</h3>
                    <p class="icon-box-text">You can relay on our amazing features list and also our customer services will be great experience.</p>
                </div>
                <!-- End of Icon Box -->
            </div>
        </div>
    </div>
</section>
<!-- End of section -->
<!-- Section -->
<section class="section section-md">
    <div class="container">
        <div class="row mb-6">
            <div class="col-md-12 text-center">
                <span class="h5">Example 7</span>
            </div>
        </div>
        <div class="row align-items-center justify-content-around">
            <div class="col-md-12 col-lg-6">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <!-- Icon Box -->
                        <div class="icon-box mb-5">
                            <div class="icon icon-primary mb-4">
                                <span class="far fa-lightbulb"></span>
                            </div>
                            <h3 class="h5">Ideas and Concepts</h3>
                            <p class="icon-box-text">We work to figure out ways to help your business grow through all platforms.</p>
                        </div>
                        <!-- End of Icon Box -->
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <!-- Icon Box -->
                        <div class="icon-box mb-5">
                            <div class="icon icon-primary mb-4">
                                <span class="far fa-sun"></span>
                            </div>
                            <h3 class="h5">Highly Customizable</h3>
                            <p class="icon-box-text">We work to figure out ways to help your business grow through all platforms.</p>
                        </div>
                        <!-- End of Icon Box -->
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <!-- Icon Box -->
                        <div class="icon-box mb-5 mb-md-0">
                            <div class="icon icon-primary mb-4">
                                <span class="far fa-keyboard"></span>
                            </div>
                            <h3 class="h5">Powerful code</h3>
                            <p class="icon-box-text">We work to figure out ways to help your business grow through all platforms.</p>
                        </div>
                        <!-- End of Icon Box -->
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <!-- Icon Box -->
                        <div class="icon-box mb-5 mb-md-0">
                            <div class="icon icon-primary mb-4">
                                <span class="far fa-handshake"></span>
                            </div>
                            <h3 class="h5">Built For Startups</h3>
                            <p class="icon-box-text">We work to figure out ways to help your business grow through all platforms.</p>
                        </div>
                        <!-- End of Icon Box -->
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-5 d-none d-md-block">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row mt-5 mt-lg-0">
                            <div class="col-md-12 me-0"><img class="rounded img-fluid mb-2" src="../../assets/img/sections/feature-1.jpg" alt="Working pleople"></div>
                            <div class="col-md-12 me-0"><img class="rounded img-fluid mb-2" src="../../assets/img/sections/feature-4.jpg" alt="Modern office"></div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-6">
                        <div class="row">
                            <div class="col-md-12 ps-2"><img class="rounded img-fluid mb-2" src="../../assets/img/sections/feature-3.jpg" alt="Modern desk"></div>
                            <div class="col-md-12 ps-2"><img class="rounded img-fluid mb-2" src="../../assets/img/sections/feature-2.jpg" alt="Themesberg building"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of section -->