<section class="section section-md pb-0">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2>Footers</h2>
            </div>
        </div>
    </div>
</section>

<!-- Small Footer -->
<footer class="footer section section-sm bg-white text-gray">
    <div class="container">
        <div class="row align-items-md-center">
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="d-flex align-items-center">
                    <!-- Logo -->
                    <a class="footer-brand brand-sm me-3" href="../../index.html">
                        <img src="../../assets/img/brand/dark.svg " alt="Pixel logo">
                    </a>
                    <!-- End Logo -->
                    <p class="small mb-0">© Pixel. 2019 Themesberg.<br>All rights reserved.</p>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 mb-4 mb-sm-0">
                <!-- List -->
                <ul class="list-inline list-group-flush list-group-borderless text-md-center mb-0">
                    <li class="list-inline-item px-0 px-sm-2">
                        <a class="text-gray" href="#">About</a>
                    </li>
                    <li class="list-inline-item px-0 px-sm-2">
                        <a class="text-gray" href="#">Terms</a>
                    </li>
                    <li class="list-inline-item px-0 px-sm-2">
                        <a class="text-gray" href="#">Contact</a>
                    </li>
                </ul>
                <!-- End List -->
            </div>

            <div class="col-sm-6 col-md-4">
                <!-- Social Networks -->
                <ul class="list-inline text-sm-right mb-0">
                    <li class="list-inline-item">
                        <a class="icon icon-xs icon-twitter me-3">
                            <span class="fab fa-twitter"></span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="icon icon-xs icon-facebook me-3">
                            <span class="fab fa-facebook-f"></span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="icon icon-xs icon-github me-3">
                            <span class="fab fa-github"></span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="icon icon-xs icon-dribbble me-3">
                            <span class="fab fa-dribbble"></span>
                        </a>
                    </li>
                </ul>
                <!-- End Social Networks -->
            </div>
        </div>
    </div>
</footer>

<!-- Small Footer -->
<footer class="footer section section-sm bg-gray-200 text-dark">
    <div class="container">
        <div class="row align-items-md-center">
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="d-flex align-items-center">
                    <!-- Logo -->
                    <a class="footer-brand brand-sm me-3" href="#">
                        <img src="../../assets/img/brand/dark.svg " alt="Pixel logo">
                    </a>
                    <!-- End Logo -->
                    <p class="small mb-0">© Pixel. 2019 Themesberg.<br>All rights reserved.</p>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 mb-4 mb-sm-0">
                <!-- List -->
                <ul class="list-inline list-group-flush list-group-borderless text-md-center mb-0">
                    <li class="list-inline-item px-0 px-sm-2">
                        <a class="text-gray" href="#">About</a>
                    </li>
                    <li class="list-inline-item px-0 px-sm-2">
                        <a class="text-gray" href="#">Terms</a>
                    </li>
                    <li class="list-inline-item px-0 px-sm-2">
                        <a class="text-gray" href="#">Contact</a>
                    </li>
                </ul>
                <!-- End List -->
            </div>

            <div class="col-sm-6 col-md-4">
                <!-- Social Networks -->
                <ul class="list-inline text-sm-right mb-0">
                    <li class="list-inline-item">
                        <a class="icon icon-xs icon-twitter me-3">
                            <span class="fab fa-twitter"></span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="icon icon-xs icon-facebook me-3">
                            <span class="fab fa-facebook-f"></span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="icon icon-xs icon-github me-3">
                            <span class="fab fa-github"></span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="icon icon-xs icon-dribbble me-3">
                            <span class="fab fa-dribbble"></span>
                        </a>
                    </li>
                </ul>
                <!-- End Social Networks -->
            </div>
        </div>
    </div>
</footer>
<!-- Small Footer -->
<footer class="footer section section-sm bg-primary text-white">
    <div class="container">
        <div class="row align-items-md-center">
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="d-flex align-items-center">
                    <!-- Logo -->
                    <a class="footer-brand brand-sm me-3" href="#">
                        <img src="../../assets/img/brand/light.svg" alt="Pixel logo dark">
                    </a>
                    <!-- End Logo -->
                    <p class="small mb-0">© Pixel. 2019 Themesberg.<br>All rights reserved.</p>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 mb-4 mb-sm-0">
                <!-- List -->
                <ul class="list-inline list-group-flush list-group-borderless text-md-center mb-0">
                    <li class="list-inline-item px-0 px-sm-2">
                        <a class="text-muted" href="#">About</a>
                    </li>
                    <li class="list-inline-item px-0 px-sm-2">
                        <a class="text-muted" href="#">Terms</a>
                    </li>
                    <li class="list-inline-item px-0 px-sm-2">
                        <a class="text-muted" href="#">Contact</a>
                    </li>
                </ul>
                <!-- End List -->
            </div>

            <div class="col-sm-6 col-md-4">
                <!-- Social Networks -->
                <ul class="list-inline text-sm-right mb-0">
                    <li class="list-inline-item">
                        <a class="icon icon-xs icon-white me-3">
                            <span class="fab fa-twitter"></span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="icon icon-xs icon-white me-3">
                            <span class="fab fa-facebook-f"></span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="icon icon-xs icon-white me-3">
                            <span class="fab fa-github"></span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="icon icon-xs icon-white me-3">
                            <span class="fab fa-dribbble"></span>
                        </a>
                    </li>
                </ul>
                <!-- End Social Networks -->
            </div>
        </div>
    </div>
</footer>

<!-- Big footer -->
<footer class="footer section text-dark">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-3">
                <a class="footer-brand brand-sm" href="#">
                    <img src="../../assets/img/brand/dark.svg " alt="Logo Themesberg">
                </a>
                <p class="mt-4 text-gray">Start your development with a Pixel UI Kit for Bootstrap 4.</p>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-2 mt-4 mt-md-0">
                <h3 class="h5">About Us</h3>
                <ul class="footer-links d-block">
                    <li><a class="text-gray" href="#">Blog</a></li>
                    <li><a class="text-gray" href="#">About Us</a></li>
                    <li><a class="text-gray" href="#">Presentation</a></li>
                    <li><a class="text-gray" href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 mt-4 mt-md-0">
                <h3 class="h5">Market</h3>
                <ul class="footer-links d-block">
                    <li><a class="text-gray" href="#">Sales FAQ</a></li>
                    <li><a class="text-gray" href="#">How to Register</a></li>
                    <li><a class="text-gray" href="#">Sell Goods</a></li>
                    <li><a class="text-gray" href="#">Receive Payment</a></li>
                    <li><a class="text-gray" href="#">Sell Goods</a></li>
                    <li><a class="text-gray" href="#">Receive Payment</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-lg-4 col-xl-4 mt-3 mt-lg-0 mt-4 mt-md-0">
                <h3 class="h5">Subscribe</h3>
                <p class="text-muted font-small">Join our mailing list. We write rarely, but only the best content.</p>
                <form action="#">
                    <div class="form-row mb-2">
                        <div class="col-12">
                            <label class="h6 fw-normal text-muted" for="exampleInputEmail33">Email address</label>
                            <input type="email" class="form-control mb-2" placeholder="example@company.com" name="email" aria-label="Subscribe form" id="exampleInputEmail33" required>
                        </div>
                        <div class="col-12 d-grid">
                            <button type="submit" class="btn btn-tertiary shadow-soft" data-loading-text="Sending">
                                <span>Subscribe</span>
                            </button>
                        </div>
                    </div>
                </form>
                <small class="text-gray">We’ll never share your details. See our <a class="text-dark" href="#">Privacy Policy</a>
                </small>
            </div>
        </div>
        
        <div class="text-center mt-4">
            &#xA9;
            <script>
                document.write(new Date().getFullYear())
            </script> <a href="#">Themesberg</a>. All rights reserved.
        </div>
    </div>
</footer>
<!-- Big footer -->
<footer class="footer section bg-primary text-white">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-3">
                <a class="footer-brand brand-sm" href="#">
                    <img src="../../assets/img/brand/light.svg " alt="Logo Big Dark">
                </a>
                <p class="mt-4 text-soft">Start your development with a Pixel UI Kit for Bootstrap 4.</p>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-2 mt-4 mt-md-0">
                <h3 class="h5">About Us</h3>
                <ul class="footer-links">
                    <li><a class="text-soft" href="#">Blog</a></li>
                    <li><a class="text-soft" href="#">About Us</a></li>
                    <li><a class="text-soft" href="#">Presentation</a></li>
                    <li><a class="text-soft" href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 mt-4 mt-md-0">
                <h3 class="h5">Market</h3>
                <ul class="footer-links">
                    <li><a class="text-soft" href="#">Sales FAQ</a></li>
                    <li><a class="text-soft" href="#">How to Register</a></li>
                    <li><a class="text-soft" href="#">Sell Goods</a></li>
                    <li><a class="text-soft" href="#">Receive Payment</a></li>
                    <li><a class="text-soft" href="#">Sell Goods</a></li>
                    <li><a class="text-soft" href="#">Receive Payment</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-lg-4 col-xl-4 mt-3 mt-lg-0 mt-4 mt-md-0">
                <h3 class="h5">Subscribe</h3>
                <p class="text-muted font-small">Join our mailing list. We write rarely, but only the best content.</p>
                <form action="#">
                    <div class="form-row mb-2">
                        <div class="col-12">
                            <label class="h6 fw-normal text-muted" for="exampleInputEmail38">Email address</label>
                            <input type="email" class="form-control mb-2" placeholder="example@company.com" name="email" aria-label="Subscribe form" id="exampleInputEmail38" required>
                        </div>
                        <div class="col-12 d-grid">
                            <button type="submit" class="btn btn-tertiary shadow-soft" data-loading-text="Sending">
                                <span>Subscribe</span>
                            </button>
                        </div>
                    </div>
                </form>
                <small class="text-soft">We’ll never share your details. See our <a class="text-white" href="#">Privacy Policy</a>
                </small>
            </div>
        </div>
        
        <div class="text-center mt-4">
            &#xA9;
            <script>
                document.write(new Date().getFullYear())
            </script> <a href="#">Themesberg</a>. All rights reserved.
        </div>
    </div>
</footer>

<!-- Big footer -->
<footer class="footer section text-dark">
    <div class="container">
        <div class="footer-topbar border-bottom border-gray-200 mb-5 pb-4">
            <div class="d-flex">
                <a class="footer-brand me-lg-2" href="#">
                    <img src="../../assets/img/brand/dark.svg" alt="Rocket Logo">
                </a>
                <div class="ms-auto align-self-center">
                    <div class="copyright text-gray">
                        &#xA9;
                        <script>
                            document.write(new Date().getFullYear())
                        </script> <a href="#">Themesberg</a>. All rights reserved.
                    </div>
                </div>
            </div>
        </div>        
        <div class="row mb-5">
            <div class="col-sm-6 col-md-3 col-lg-3 mt-4 mt-sm-0">
                <p>Pixel is a large User Interface Kit that will help you prototype and design modern websites.</p>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4 mt-sm-0">
                <h3 class="h5">Contact</h3>
                <ul class="list-unstyled icon-box text-gray">
                    <li class="mb-3 d-flex">
                        <span class="fas fa-map-marker-alt"></span>
                        <div class="ms-3">
                            <span>348, Silicon Valley
                                <br>USA, California</span>
                        </div>
                    </li>
                    <li class="mb-3 d-flex">
                        <span class="fas fa-phone-volume"></span>
                        <div class="ms-3">
                            <span>+12 345 6789</span>
                            <span class="d-block text-gray small">Mon - Fri 9am - 5pm</span>
                        </div>
                    </li>
                    <li class="mb-3 d-flex">
                        <span class="fas fa-envelope"></span>
                        <div class="ms-3">
                            <a href="#">support@company.io</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-4 mt-4 mt-md-0">
                <h3 class="h5">Social Feed</h3>
                <ul class="list-unstyled icon-box text-gray">
                    <li class="mb-3 d-flex">
                        <span class="fab fa-twitter"></span>
                        <div class="ms-3">
                            <p>In this post, we shall explore free social media feeds and third-party tools you can use to build your brand.</p>
                        </div>
                    </li>
                    <li class="mb-3 d-flex">
                        <span class="fab fa-facebook-f"></span>
                        <div class="ms-3">
                            <p>Pixel is designed to help people of all skill levels – designer or developer, huge nerd or early beginner.</p>
                        </div>
                    </li>
                    <li class="mb-3 d-flex">
                        <span class="fab fa-instagram"></span>
                        <div class="ms-3">
                            <p>How to handle ethical disagreements with your clients.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 d-none d-lg-block">
                <h3 class="h5">Navigate</h3>
                <ul class="footer-links">
                    <li><a class="text-gray" href="#">Blog</a></li>
                    <li><a class="text-gray" href="#">About Us</a></li>
                    <li><a class="text-gray" href="#">Presentation</a></li>
                    <li><a class="text-gray" href="#">Contact Us</a></li>
                    <li><a class="text-gray" href="#">Sales FAQ</a></li>
                    <li><a class="text-gray" href="#">How to Register</a></li>
                    <li><a class="text-gray" href="#">Sell Goods</a></li>
                    <li><a class="text-gray" href="#">Receive Payment</a></li>
                </ul>
            </div>
        </div>
        <!-- Social Networks -->
        <ul class="list-inline text-center mb-0">
            <li class="list-inline-item">
                <a class="icon icon-sm icon-twitter me-3">
                    <span class="fab fa-twitter"></span>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="icon icon-sm icon-facebook me-3">
                    <span class="fab fa-facebook-f"></span>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="icon icon-sm icon-github me-3">
                    <span class="fab fa-github"></span>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="icon icon-sm icon-dribbble me-3">
                    <span class="fab fa-dribbble"></span>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="icon icon-sm icon-slack">
                    <span class="fab fa-slack"></span>
                </a>
            </li>
        </ul>
        <!-- End Social Networks -->
    </div>
</footer>
<!-- Big footer -->
<footer class="footer section bg-secondary text-white">
    <div class="container">
        <div class="footer-topbar mb-5">
            <div class="d-flex">
                <a class="footer-brand me-lg-2" href="#">
                    <img src="../../assets/img/brand/light.svg" alt="Leaf Logo">
                </a>
                <div class="ms-auto align-self-center">
                    <div class="copyright">
                        &#xA9;
                        <script>
                            document.write(new Date().getFullYear())
                        </script> <a href="#">Themesberg</a>. All rights reserved.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3 col-lg-3 mt-4 mt-sm-0">
                <p>Pixel is a large User Interface Kit that will help you prototype and design modern websites.</p>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4 mt-sm-0">
                <h3 class="h5">Contact</h3>
                <ul class="list-unstyled icon-box">
                    <li class="mb-3 d-flex">
                        <span class="fas fa-map-marker-alt"></span>
                        <div class="ms-3">
                            <span>348, Silicon Valley
                                <br>USA, California</span>
                        </div>
                    </li>
                    <li class="mb-3 d-flex">
                        <span class="fas fa-phone-volume"></span>
                        <div class="ms-3">
                            <span>+12 345 6789</span>
                            <span class="d-block small">Mon - Fri 9am - 5pm</span>
                        </div>
                    </li>
                    <li class="mb-3 d-flex">
                        <span class="fas fa-envelope"></span>
                        <div class="ms-3">
                            <a href="#">support@company.io</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-4 mt-4 mt-md-0">
                <h3 class="h5">Social Feed</h3>
                <ul class="list-unstyled icon-box">
                    <li class="mb-3 d-flex">
                        <span class="fab fa-twitter"></span>
                        <div class="ms-3">
                            <p>In this post, we shall explore free social media feeds and third-party tools you can use to build your brand.</p>
                        </div>
                    </li>
                    <li class="mb-3 d-flex">
                        <span class="fab fa-facebook-f"></span>
                        <div class="ms-3">
                            <p>Pixel is designed to help people of all skill levels – designer or developer, huge nerd or early beginner.</p>
                        </div>
                    </li>
                    <li class="mb-3 d-flex">
                        <span class="fab fa-instagram"></span>
                        <div class="ms-3">
                            <p>How to handle ethical disagreements with your clients.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 d-none d-lg-block">
                <h3 class="h5">Navigate</h3>
                <ul class="footer-links">
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Presentation</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Sales FAQ</a></li>
                    <li><a href="#">How to Register</a></li>
                    <li><a href="#">Sell Goods</a></li>
                    <li><a href="#">Receive Payment</a></li>
                </ul>
            </div>
        </div>
        <hr class="bg-primary">
        <!-- Social Networks -->
        <ul class="list-inline text-center mb-0">
            <li class="list-inline-item">
                <a class="icon icon-sm icon-white me-3">
                    <span class="fab fa-twitter"></span>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="icon icon-sm icon-white me-3">
                    <span class="fab fa-facebook-f"></span>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="icon icon-sm icon-white me-3">
                    <span class="fab fa-github"></span>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="icon icon-sm icon-white me-3">
                    <span class="fab fa-dribbble"></span>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="icon icon-sm icon-white">
                    <span class="fab fa-slack"></span>
                </a>
            </li>
        </ul>
        <!-- End Social Networks -->
    </div>
</footer>