<section class="section section-md pb-0">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2>Pricing</h2>
            </div>
        </div>
    </div>
</section>

<!-- Section -->
<section class="section section-md">
    <div class="container">
        <div class="row mb-6">
            <div class="col-md-12 text-center">
                <span class="h5">Example 1</span>
            </div>
        </div>
        <div class="row justify-content-center text-center">
            <div class="col-sm-8 col-md-8">
                <h2 class="h1 mb-4">Simple pricing for you</h2>
                <p class="lead">We are dedicated to providing you with the best experience possible.We offer 100% satisafaction and Money back Guarantee</p>
            </div>
        </div>
        <div class="row mt-5 mt-sm-6">
            <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="card border-gray-300 text-center py-3">
                    <!-- Header -->
                    <div class="card-header bg-white p-3">
                        <h3 class="text-primary mb-4">Basic</h3>
                        <span class="d-block">
                            <span class="display-1 text-dark fw-bold">
                                <span class="align-top font-medium">$</span>19
                        </span>
                        <span class="d-block text-gray font-small">/ month</span>
                        </span>
                    </div>
                    <!-- End Header -->
                    <!-- Content -->
                    <div class="card-body">
                        <ul class="list-unstyled mb-4">
                            <li class="list-item pb-3"><strong>1</strong> free domain</li>
                            <li class="list-item pb-3">Storage space: <strong>5GB</strong></li>
                            <li class="list-item pb-3"><strong>100k</strong> monthly visitors</li>
                            <li class="list-item pb-3">One-click staging site</li>
                            <li class="list-item pb-3">Search engine wizard </li>
                            <li class="list-item pb-3">Community support</li>
                        </ul>
                        <div class="d-grid">
                            <button type="button" class="btn btn-primary">Start Starter</button>
                        </div>
                    </div>
                    <!-- End Content -->
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="card border-gray-300 text-center py-3">
                    <!-- Header -->
                    <div class="card-header bg-white p-3 text-tertiary">
                        <h3 class="mb-4">Deluxe</h3>
                        <span class="d-block">
                            <span class="display-1 fw-bold">
                                <span class="align-top font-medium">$</span>49
                        </span>
                        <span class="d-block text-gray font-small">/ month</span>
                        </span>
                    </div>
                    <!-- End Header -->
                    <!-- Content -->
                    <div class="card-body">
                        <ul class="list-unstyled mb-4">
                            <li class="list-item pb-3"><strong>1</strong> free domain</li>
                            <li class="list-item pb-3">Storage space: <strong>5GB</strong></li>
                            <li class="list-item pb-3"><strong>100k</strong> monthly visitors</li>
                            <li class="list-item pb-3">One-click staging site</li>
                            <li class="list-item pb-3">Search engine wizard </li>
                            <li class="list-item pb-3">Community support</li>
                        </ul>
                        <div class="d-grid">
                            <button type="button" class="btn btn-primary">Start Deluxe</button>
                        </div>
                    </div>
                    <!-- End Content -->
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card border-gray-300 text-center py-3">
                    <!-- Header -->
                    <div class="card-header bg-white p-3">
                        <h3 class="text-primary mb-4">Ultimate</h3>
                        <span class="d-block">
                            <span class="display-1 text-dark fw-bold">
                                <span class="align-top font-medium">$</span>199
                        </span>
                        <span class="d-block text-gray font-small">/ month</span>
                        </span>
                    </div>
                    <!-- End Header -->
                    <!-- Content -->
                    <div class="card-body">
                        <ul class="list-unstyled mb-4">
                            <li class="list-item pb-3"><strong>1</strong> free domain</li>
                            <li class="list-item pb-3">Storage space: <strong>5GB</strong></li>
                            <li class="list-item pb-3"><strong>100k</strong> monthly visitors</li>
                            <li class="list-item pb-3">One-click staging site</li>
                            <li class="list-item pb-3">Search engine wizard </li>
                            <li class="list-item pb-3">Community support</li>
                        </ul>
                        <div class="d-grid">
                            <button type="button" class="btn btn-primary">Start Ultimate</button>
                        </div>
                    </div>
                    <!-- End Content -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of section -->
<div class="section pb-0">
    <div class="row">
        <div class="col-md-12 text-center">
            <span class="h5">Example 2</span>
        </div>
    </div>
</div>
<!-- Section -->
<section class="section section-md">
    <div class="container">
        <div class="row justify-content-center mb-5 mb-lg-7">
            <div class="col-12 col-md-8 text-center">
                <h2 class="h1 mb-4">Decide how to combine your money.</h2>
                <p class="lead">Price is the value that is put to a product or service and is the result of a complex set of calculations, research and understanding and risk taking ability.</p>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-12 col-md-8 col-lg-4 mx-md-auto">
                <div class="card border-gray-300 rounded-right-0 p-4 mb-5 mb-lg-0">
                    <!-- Header -->
                    <div class="card-header border-bottom bg-white text-center">
                        <span class="d-block">
                            <span class="display-1 text-primary fw-bold">
                                <span class="align-top font-medium">$</span>29
                        </span>
                        <span class="text-gray font-small">/ month</span>
                        </span>
                    </div>
                    <!-- End Header -->
                    <!-- Content -->
                    <div class="card-body text-center">
                        <p>Faster sites deliver better business results for your clients.</p>
                        <ul class="list-unstyled my-4">
                            <li class="list-item pb-3"><strong>1</strong> free domain</li>
                            <li class="list-item pb-3">Storage space: <strong>5GB</strong></li>
                            <li class="list-item pb-3"><strong>100k</strong> monthly visitors</li>
                            <li class="list-item pb-3">One-click staging site</li>
                        </ul>
                        <div class="d-grid">
                            <button type="button" class="btn btn-outline-primary">
                                <span class="fas fa-cart-plus me-3"></span>Add to Cart
                            </button>
                        </div>
                    </div>
                    <!-- End Content -->
                </div>
            </div>
            <div class="col-12 col-md-8 col-lg-4 mx-md-auto">
                <div class="card border-gray-300 px-4 py-5 mt-lg-n5 mb-5 mb-lg-0">
                    <!-- Header -->
                    <div class="card-header border-bottom bg-white text-center">
                        <span class="d-block">
                            <span class="display-1 text-primary fw-bold">
                                <span class="align-top font-medium">$</span>199
                        </span>
                        <span class="text-gray font-small">/ month</span>
                        </span>
                    </div>
                    <!-- End Header -->
                    <!-- Content -->
                    <div class="card-body text-center pb-2">
                        <p>Faster sites deliver better business results for your clients.</p>
                        <ul class="list-unstyled my-4">
                            <li class="list-item pb-3"><strong>1</strong> free domain</li>
                            <li class="list-item pb-3">Storage space: <strong>5GB</strong></li>
                            <li class="list-item pb-3"><strong>100k</strong> monthly visitors</li>
                            <li class="list-item pb-3">One-click staging site</li>
                            <li class="list-item pb-3">Search engine wizard </li>
                            <li class="list-item pb-3">Community support</li>
                        </ul>
                        <div class="d-grid">
                            <button type="button" class="btn btn-outline-primary">
                                <span class="fas fa-cart-plus me-3"></span>Add to Cart
                            </button>
                        </div>
                    </div>
                    <!-- End Content -->
                </div>
            </div>
            <div class="col-12 col-md-8 col-lg-4 mx-md-auto">
                <div class="card border-gray-300 rounded-left-0 p-4">
                    <!-- Header -->
                    <div class="card-header border-bottom bg-white text-center">
                        <span class="d-block">
                            <span class="display-1 text-primary fw-bold">
                                <span class="align-top font-medium">$</span>59
                        </span>
                        <span class="text-gray font-small">/ month</span>
                        </span>
                    </div>
                    <!-- End Header -->
                    <!-- Content -->
                    <div class="card-body text-center">
                        <p>Faster sites deliver better business results for your clients.</p>
                        <ul class="list-unstyled my-4">
                            <li class="list-item pb-3"><strong>1</strong> free domain</li>
                            <li class="list-item pb-3">Storage space: <strong>5GB</strong></li>
                            <li class="list-item pb-3"><strong>100k</strong> monthly visitors</li>
                            <li class="list-item pb-3">One-click staging site</li>
                        </ul>
                        <div class="d-grid">
                            <button type="button" class="btn btn-outline-primary">
                                <span class="fas fa-cart-plus me-3"></span>Add to Cart
                            </button>
                        </div>
                    </div>
                    <!-- End Content -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of section -->
<div class="section pb-0">
    <div class="row">
        <div class="col-md-12 text-center">
            <span class="h5">Example 3</span>
        </div>
    </div>
</div>
<!-- Section -->
<section class="section section-md">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-md-4">
                <h2 class="display-2 fw-light mb-5">Make sure your <span class="fw-bold">goals</span> are aligned.</h2>
            </div>
            <div class="col-md-7">
                <p class="lead">Price is the value that is put to a product or service and is the result of a complex set of calculations, research and understanding.
                </p>
                <p class="lead">A pricing strategy takes into account segments, ability to pay, market conditions and competitor actions. It is targeted at the defined customers and against competitors.
                </p>
                <div class="row mt-5">
                    <!--Counter-->
                    <div class="col-sm-4 col-lg-4 d-none d-sm-block mb-3 mb-lg-0 text-center text-md-left">
                        <div class="icon icon-shape icon-shape-primary rounded-circle me-2 me-md-0 mb-2">
                            <span class="fas fa-award"></span>
                        </div>
                        <span class="counter h2 mb-1 d-block">600</span>
                        <span class="h5 text-gray">Clients</span>
                    </div>
                    <!--End of Counter-->
                    <!--Counter-->
                    <div class="col-sm-4 col-lg-4 d-none d-sm-block mb-3 mb-lg-0 text-center text-md-left">
                        <div class="icon icon-md icon-shape icon-shape-primary rounded-circle me-2 me-md-0 mb-2">
                            <span class="fas fa-box-open"></span>
                        </div>
                        <span class="counter h2 mb-1 d-block">1000</span>
                        <span class="h5 text-gray">Units Ordered</span>
                    </div>
                    <!--End of Counter-->
                    <!--Counter-->
                    <div class="col-sm-4 col-lg-4 d-none d-sm-block mb-3 mb-lg-0 text-center text-md-left">
                        <div class="icon icon-shape icon-shape-primary rounded-circle me-2 me-md-0 mb-2">
                            <span class="fas fa-business-time"></span>
                        </div>
                        <span class="counter h2 mb-1 d-block">5000</span>
                        <span class="h5 text-gray">Hours of work</span>
                    </div>
                    <!--End of Counter-->
                </div>
            </div>
        </div>
        <div class="row mt-4 mt-lg-6">
            <div class="col-12 col-lg-6 mb-5 mb-lg-0">
                <div class="card border-gray-300">
                    <div class="row g-0 align-items-center">
                        <div class="col-sm-5">
                            <!-- Header -->
                            <div class="card-header bg-white text-center border-0 pb-0">
                                <h3 class="text-primary mb-0">Basic</h3>
                                <span class="d-block my-3">
                                    <span class="display-2 fw-bold"><span class="align-baseline font-medium">$</span>29
                                </span>
                                </span>
                                <div class="d-grid">
                                    <button type="button" class="btn btn-sm btn-outline-primary">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <!-- Content -->
                            <div class="card-body pb-0">
                                <ul class="list-group list-group-flush price-list mb-4">
                                    <li class="list-group-item border-0 pb-1"><span class="fas fa-check-circle"></span>Community support</li>
                                    <li class="list-group-item border-0 pb-1"><span class="fas fa-check-circle"></span>15 GB SSD storage</li>
                                    <li class="list-group-item border-0 pb-1"><span class="fas fa-check-circle"></span>One-click website</li>
                                    <li class="list-group-item border-0 pb-1"><span class="fas fa-check-circle"></span>10 E-mail accounts</li>
                                    <li class="list-group-item border-0"><span class="fas fa-check-circle"></span>2 Bootstrap Themes</li>
                                </ul>
                            </div>
                            <!-- End Content -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 mb-5 mb-lg-0">
                <div class="card border-gray-300">
                    <div class="row g-0 align-items-center">
                        <div class="col-sm-5">
                            <!-- Header -->
                            <div class="card-header bg-white text-center border-0 pb-0">
                                <h3 class="text-primary mb-0">Ultimate</h3>
                                <span class="d-block my-3">
                                    <span class="display-2 fw-bold"><span class="align-baseline font-medium">$</span>59
                                </span>
                                </span>
                                <div class="d-grid">
                                    <button type="button" class="btn btn-sm btn-outline-primary">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <!-- Content -->
                            <div class="card-body pb-0">
                                <ul class="list-group list-group-flush price-list mb-4">
                                    <li class="list-group-item border-0 pb-1"><span class="fas fa-check-circle"></span>Community support</li>
                                    <li class="list-group-item border-0 pb-1"><span class="fas fa-check-circle"></span>50 GB SSD storage</li>
                                    <li class="list-group-item border-0 pb-1"><span class="fas fa-check-circle"></span>One-click website</li>
                                    <li class="list-group-item border-0 pb-1"><span class="fas fa-check-circle"></span>100 E-mail accounts</li>
                                    <li class="list-group-item border-0"><span class="fas fa-check-circle"></span>All Our Themes</li>
                                </ul>
                            </div>
                            <!-- End Content -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of section -->
