<section class="section section-md pb-0">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2>Testimonials</h2>
            </div>
        </div>
    </div>
</section>

<!-- Section -->
<div class="section section-md">
    <div class="container">
        <div class="row mb-6">
            <div class="col-md-12 text-center">
                <span class="h5">Example 1</span>
            </div>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-sm-12 col-md-10 col-lg-9 text-center">
                <!-- Tab -->
                <div class="nav-wrapper">
                    <ul class="nav nav-pills nav-pill-circle flex-sm-row justify-content-center" id="tab-34" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link bg-white text-sm-center avatar-link active" id="tab-link-example-13" data-toggle="tab" href="#link-example-13" role="tab" aria-controls="link-example-13" aria-selected="true">
                                <img class="rounded-circle" src="../../assets/img/team/profile-picture-3.jpg" alt="Bonnie avatar">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link bg-white text-sm-center avatar-link" id="tab-link-example-14" data-toggle="tab" href="#link-example-14" role="tab" aria-controls="link-example-14" aria-selected="false">
                                <img class="rounded-circle" src="../../assets/img/team/profile-picture-1.jpg" alt="Neil avatar">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link bg-white text-sm-center avatar-link" id="tab-link-example-15" data-toggle="tab" href="#link-example-15" role="tab" aria-controls="link-example-15" aria-selected="false">
                                <img class="rounded-circle" src="../../assets/img/team/profile-picture-4.jpg" alt="Christopher avatar">
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End of Tab Nav -->
                <!-- Tab Content -->
                <div class="card border-0">
                    <div class="card-body p-0">
                        <div class="tab-content" id="tabcontentexample-5">
                            <div class="tab-pane fade show active" id="link-example-13" role="tabpanel" aria-labelledby="tab-link-example-13">
                                <span class="d-block my-3">
                                    <span class="star fas fa-star text-warning"></span>
                                    <span class="star fas fa-star text-warning"></span>
                                    <span class="star fas fa-star text-warning"></span>
                                    <span class="star fas fa-star text-warning"></span>
                                    <span class="star fas fa-star text-warning"></span>
                                </span>
                                <blockquote class="blockquote bg-white">
                                    I used Themesberg's logo creation services along with their website development services. They have been a pleasure to work with and have been responsive to all questions asked.
                                    <footer class="blockquote-footer mt-3 text-primary">Bonnie Green</footer>
                                </blockquote>
                            </div>
                            <div class="tab-pane fade" id="link-example-14" role="tabpanel" aria-labelledby="tab-link-example-14">
                                <span class="d-block my-3">
                                    <span class="star fas fa-star text-warning"></span>
                                    <span class="star fas fa-star text-warning"></span>
                                    <span class="star fas fa-star text-warning"></span>
                                    <span class="star fas fa-star text-warning"></span>
                                    <span class="star fas fa-star text-warning"></span>
                                </span>
                                <blockquote class="blockquote bg-white">
                                    I have worked with Themesberg over the years on a number of projects. I've always found them to be responsive, friendly and up-to-date with all the technology - which everyone knows is constantly changing.
                                    <footer class="blockquote-footer mt-3 text-primary">Neil Sims</footer>
                                </blockquote>
                            </div>
                            <div class="tab-pane fade" id="link-example-15" role="tabpanel" aria-labelledby="tab-link-example-15">
                                <span class="d-block my-3">
                                    <span class="star fas fa-star text-warning"></span>
                                    <span class="star fas fa-star text-warning"></span>
                                    <span class="star fas fa-star text-warning"></span>
                                    <span class="star fas fa-star text-warning"></span>
                                    <span class="star fas fa-star text-warning"></span>
                                </span>
                                <blockquote class="blockquote bg-white">
                                    Themesberg are the best in the business for website design and building. They worked hard to give us exactly what we wanted and more for our website and delivered on time. We would definitely use them again.
                                    <footer class="blockquote-footer mt-3 text-primary">Christopher Wood</footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Tab -->
            </div>
        </div>
    </div>
</div>
<!-- End of section -->
<!-- Section -->
<div class="section section-md">
    <div class="container">
        <div class="row mb-6">
            <div class="col-md-12 text-center">
                <span class="h5">Example 2</span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col text-center">
                <h2 class="h4">Hear more from companies like yours</h2>
            </div>
        </div>
        <div class="row mt-4 mt-lg-6">
            <div class="col">
                <div class="glide-testimonials">
                    <div data-glide-el="track" class="glide__track">
                      <ul class="glide__slides">
                        <li class="glide__slide text-center">
                            <div class="mb-3">
                                <img class="m-auto avatar-lg p-2 border-gray-300 border rounded-circle" src="../../assets/img/team/profile-picture-1.jpg" alt="Neil Avatar">
                            </div>
                            <span class="d-block my-3">
                                <span class="star fas fa-star text-warning"></span>
                                <span class="star fas fa-star text-warning"></span>
                                <span class="star fas fa-star text-warning"></span>
                                <span class="star fas fa-star text-warning"></span>
                                <span class="star far fa-star text-gray"></span>
                            </span>
                            <blockquote class="blockquote bg-gray-200">
                                Themesberg makes beautiful products to help people with creative ideas succeed. Our company empowers millions of people.
                                <footer class="blockquote-footer mt-3 text-primary">Neil Sims</footer>
                            </blockquote>
                        </li>
                        <li class="glide__slide text-center">
                            <div class="mb-3">
                                <img class="m-auto avatar-lg p-2 border-gray-300 border rounded-circle" src="../../assets/img/team/profile-picture-3.jpg" alt="Bonnie Avatar">
                            </div>
                            <span class="d-block my-3">
                                <span class="star fas fa-star text-warning"></span>
                                <span class="star fas fa-star text-warning"></span>
                                <span class="star fas fa-star text-warning"></span>
                                <span class="star fas fa-star text-warning"></span>
                                <span class="star fas fa-star text-warning"></span>
                            </span>
                            <blockquote class="blockquote bg-gray-200">
                                Themesberg makes beautiful products to help people with creative ideas succeed. Our company empowers millions of people.
                                <footer class="blockquote-footer mt-3 text-primary">Bonnie Green</footer>
                            </blockquote>
                        </li>
                        <li class="glide__slide text-center">
                            <div class="mb-3">
                                <img class="m-auto avatar-lg p-2 border-gray-300 border rounded-circle" src="../../assets/img/team/profile-picture-2.jpg" alt="Christopher Avatar">
                            </div>
                            <span class="d-block my-3">
                                <span class="star fas fa-star text-warning"></span>
                                <span class="star fas fa-star text-warning"></span>
                                <span class="star fas fa-star text-warning"></span>
                                <span class="star fas fa-star text-warning"></span>
                                <span class="star fas fa-star text-warning"></span>
                            </span>
                            <blockquote class="blockquote bg-gray-200">
                                Themesberg makes beautiful products to help people with creative ideas succeed. Our company empowers millions of people.
                                <footer class="blockquote-footer mt-3 text-primary">Christopher Wood</footer>
                            </blockquote>
                        </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of section -->