<section class="section section-header pb-11 bg-primary text-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-8 text-center">
                <h1 class="display-2 mb-3">Get in touch today</h1>
                <p class="lead">Have a new project in mind? Drop us a line about your project needs, we answer same day.</p>        
            </div>
        </div>
    </div>
</section>
<div class="section py-0">
    <div class="container mt-n10">
        <div class="row">
            <div class="col-12">
                <iframe class="map rounded" id="gmap_canvas" src="https://maps.google.com/maps?q=san%20francisco&amp;t=&amp;z=8&amp;ie=UTF8&amp;iwloc=&amp;output=embed"></iframe>
            </div>
        </div>
    </div>
</div>