<!-- Section -->
<div class="section section-md">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 mb-5">
                <div class="ct-chart-5 ct-golden-section ct-series-e"></div>
            </div>
            <div class="col-12 col-md-6 mb-5">
                <div class="ct-chart-6 ct-golden-section ct-series-a"></div>
            </div>
            <div class="col-12 col-md-6 mb-5">
                <div class="ct-chart-8 ct-golden-section ct-series-a"></div>
            </div>
            <div class="col-12 col-md-6 mb-5">
                <div class="ct-chart-11 ct-golden-section ct-series-a"></div>
            </div>
            <div class="col-12 col-md-6 mb-5">
                <div class="ct-chart-7 ct-golden-section ct-series-a"></div>
            </div>
            <div class="col-12 col-md-6">
                <div class="ct-chart-9 ct-golden-section ct-series-a"></div>
            </div>
            <div class="col-12 col-md-6">
                <div class="ct-chart-10 ct-golden-section ct-series-a"></div>
            </div>
        </div>
    </div>
</div>
<!-- End of Section -->
