<!-- Core -->
<!-- <script src="{{site.baseurl}}assets/cssvendor/@popperjs/core/dist/umd/popper.min.js"></script> -->
<script src="{{site.baseurl}}assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{site.baseurl}}assets/vendor/headroom.js/dist/headroom.min.js"></script>

<!-- Vendor JS -->
<script src="{{site.baseurl}}assets/vendor/onscreen/dist/on-screen.umd.min.js"></script>
<script src="{{site.baseurl}}assets/vendor/nouislider/distribute/nouislider.min.js"></script>
<script src="{{site.baseurl}}assets/vendor/jarallax/dist/jarallax.min.js"></script>
<script src="{{site.baseurl}}assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="{{site.baseurl}}assets/vendor/vivus/dist/vivus.min.js"></script>
<script src="{{site.baseurl}}assets/vendor/chartist/dist/chartist.min.js"></script>
<script src="{{site.baseurl}}assets/vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
<script src="{{site.baseurl}}assets/vendor/@glidejs/glide/dist/glide.min.js"></script>
<script src="{{site.baseurl}}assets/vendor/countup.js/dist/countUp.umd.js"></script>
<script src="{{site.baseurl}}assets/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- pixel JS -->
<script src="{{site.baseurl}}assets/js/pixel.js"></script>