<section class="section section-md pb-0">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2>Clients</h2>
            </div>
        </div>
    </div>
</section>

<!-- Section -->
<div class="section section-md">
    <div class="container">
        <div class="row mb-6">
            <div class="col-md-12 text-center">
                <span class="h5">Example 1</span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col text-center">
                <h2 class="h4 fw-light">Trusted by over <span class="fw-bold">30,000</span> of the world’s leading companies</h2>
            </div>
        </div>
        <div class="row justify-content-center mt-4 mt-lg-6">
            <div class="col">
                <ul class="d-flex flex-wrap justify-content-center list-unstyled">
                    <li class="mx-xl-4 mx-3 mb-5">
                        <img class="img-fluid image-sm" src="../../assets/img/clients/paypal.svg" alt="paypal logo">
                    </li>
                    <li class="mx-xl-4 mx-3 mb-5">
                        <img class="img-fluid image-sm" src="../../assets/img/clients/airbnb.svg" alt="airbnb logo">
                    </li>
                    <li class="mx-xl-4 mx-3 mb-5">
                        <img class="img-fluid image-sm" src="../../assets/img/clients/forbes.svg" alt="forbes logo">
                    </li>
                    <li class="mx-xl-4 mx-3 mb-5">
                        <img class="img-fluid image-sm" src="../../assets/img/clients/elastic.svg" alt="elastic logo">
                    </li>
                    <li class="mx-xl-4 mx-3 mb-5">
                        <img class="img-fluid image-sm" src="../../assets/img/clients/docker.svg" alt="docker logo">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End of section -->
<!-- Section -->
<div class="section section-md">
    <div class="container">
        <div class="row mb-6">
            <div class="col-md-12 text-center">
                <span class="h5">Example 2</span>
            </div>
        </div>
        <div class="row align-items-center justify-content-center text-center text-md-left">
            <div class="col-md-4 col-lg-3 mb-4 mb-lg-0">
                <span class="counter counter-alternate display-1 text-dark d-block">100</span>
                <span class="h5 text-gray">Trusted partners</span>
            </div>
            <div class="col-md-4 col-lg-5">
                <p class="lead">We know how hard it is to find someone you can trust to work in your home or business. That's why we've compiled a list of our most trusted business partners.We personally know these business owners and can confidently refer them
                    to you.</p>
            </div>
        </div>
        <div class="row mt-4 mt-lg-6">
            <div class="glide-clients">
                <div data-glide-el="track" class="glide__track">
                  <ul class="glide__slides">
                        <li class="glide__slide text-center">
                            <img class="img-fluid image-sm" src="../../assets/img/clients/paypal.svg" alt="paypal logo">
                        </li>
                        <li class="glide__slide text-center">
                            <img class="img-fluid image-sm" src="../../assets/img/clients/airbnb.svg" alt="airbnb logo">
                        </li>
                        <li class="glide__slide text-center">
                            <img class="img-fluid image-sm" src="../../assets/img/clients/forbes.svg" alt="forbes logo">
                        </li>
                        <li class="glide__slide text-center">
                            <img class="img-fluid image-sm" src="../../assets/img/clients/elastic.svg" alt="elastic logo">
                        </li>
                        <li class="glide__slide text-center">
                            <img class="img-fluid image-sm" src="../../assets/img/clients/docker.svg" alt="docker logo">
                        </li>
                        <li class="glide__slide text-center">
                            <img class="img-fluid image-sm" src="../../assets/img/clients/forbes.svg" alt="forbes logo">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of section -->
<!-- Section -->
<div class="section section-md">
    <div class="container">
        <div class="row mb-6">
            <div class="col-md-12 text-center">
                <span class="h5">Example 3</span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col text-center">
                <h2 class="h4">Hear More From Companies Like Yours</h2>
            </div>
        </div>
        <div class="row align-items-center mt-5 mt-lg-6">
            <div class="col-md-6 col-lg-4 text-center">
                <div class="card border-gray-300 mb-4">
                    <div class="card-body py-5">
                        <img src="../../assets/img/clients/airbnb.svg" class="img-fluid image-sm" alt="Airbnb logo">
                        <p class="card-text py-4 mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary btn-sm">See story</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 text-center">
                <div class="card border-gray-300 mb-4">
                    <div class="card-body py-5">
                        <img src="../../assets/img/clients/paypal.svg" class="img-fluid image-sm" alt="Paypal logo">
                        <p class="card-text py-4 mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary btn-sm">See story</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 text-center">
                <div class="card border-gray-300 mb-4">
                    <div class="card-body py-5">
                        <img src="../../assets/img/clients/ebay.svg" class="img-fluid image-sm" alt="Ebay logo">
                        <p class="card-text py-4 mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary btn-sm">See story</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 text-center">
                <div class="card border-gray-300 mb-4">
                    <div class="card-body py-5">
                        <img src="../../assets/img/clients/forbes.svg" class="img-fluid image-sm" alt="Forbes logo">
                        <p class="card-text py-4 mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary btn-sm">See story</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 text-center">
                <div class="card border-gray-300 mb-4">
                    <div class="card-body py-5">
                        <img src="../../assets/img/clients/corsair.svg" class="img-fluid image-sm" alt="Corsair Logo">
                        <p class="card-text py-4 mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary btn-sm">See story</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 text-center">
                <div class="card border-gray-300 mb-4">
                    <div class="card-body py-4">
                        <img src="../../assets/img/clients/pinterest.svg" class="img-fluid image-sm" alt="Pinterest logo">
                        <p class="card-text py-5 mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary btn-sm">See story</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of section -->