<section class="section section-md pb-0">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2>Team</h2>
            </div>
        </div>
    </div>
</section>

<!-- Section -->
<section class="section section-md">
    <div class="container">
        <div class="row mb-6">
            <div class="col-md-12 text-center">
                <span class="h5"> Example 1</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2 class="display-2 fw-light mb-5">Meet our <br>creative <br><span class="fw-bold">team</span></h2>
            </div>
            <div class="col-md-4">
                <p class="lead">Themesberg is a flexible multi-purpose theme for every business and creative professionals. A great collection of 20 homepages, researched and developed for the most popular business niches. Use One Click Import to get a head start
                    and save valuable time when building your website.</p>
            </div>
            <div class="col-md-4">
                <p class="lead">Choose between various layouts and behaviours. pixel also provides 3 Layout Styles. Container Breakpoint Controls. Switch easily between full width or boxed and control the container width on all major screen.</p>
                <img class="mt-4" src="../../assets/img/signature.svg" alt="signature" width="100">
            </div>
        </div>
        <div class="row mt-6">
            <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="card border-0 overflow-hidden">
                    <div class="position-relative">
                        <img src="../../assets/img/team/profile-picture-1.jpg" class="card-img-top" alt="Neil Avatar">
                    </div>
                    <div class="card-body position-relative mt-n6 mx-2 bg-white text-center rounded border border-gray-300">
                        <h3 class="h5 card-title">Neil Sims</h3>
                        <span class="text-gray"><span class="fas fa-map-marker-alt me-2"></span>New York,
                            USA</span>
                        <p class="mt-3">Neil drives the technical strategy of the platform and brand.</p>
                        <div class="btn-group">
                            <button class="btn btn-secondary btn-icon">
                                <span class="me-1"><span class="far fa-user"></span></span>
                                Details
                            </button>
                            <button class="btn btn-primary" type="button" aria-label="love button" title="love button">
                                <span aria-hidden="true" class="far fa-envelope"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="card border-0 overflow-hidden">
                    <div class="position-relative">
                        <img src="../../assets/img/team/profile-picture-2.jpg" class="card-img-top" alt="Jose Avatar">
                    </div>
                    <div class="card-body position-relative mt-n6 mx-2 bg-white text-center rounded border border-gray-300">
                        <h3 class="h5 card-title">Jose Leos</h3>
                        <span class="text-gray"><span class="fas fa-map-marker-alt me-2"></span>San Francisco,
                            USA</span>
                        <p class="mt-3">Neil drives the technical strategy of the platform and brand.</p>
                        <div class="btn-group">
                            <button class="btn btn-secondary btn-icon">
                                <span class="me-1"><span class="far fa-user"></span></span>
                                Details
                            </button>
                            <button class="btn btn-primary" type="button" aria-label="love button" title="love button">
                                <span aria-hidden="true" class="far fa-envelope"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>                   
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card border-0 overflow-hidden">
                    <div class="position-relative">
                        <img src="../../assets/img/team/profile-picture-3.jpg" class="card-img-top" alt="Bonnie Avatar">
                    </div>
                    <div class="card-body position-relative mt-n6 mx-2 bg-white text-center rounded border border-gray-300">
                        <h3 class="h5 card-title">Bonnie Green</h3>
                        <span class="text-gray"><span class="fas fa-map-marker-alt me-2"></span>New York,
                            USA</span>
                        <p class="mt-3">Neil drives the technical strategy of the platform and brand.</p>
                        <div class="btn-group">
                            <button class="btn btn-secondary btn-icon">
                                <span class="me-1"><span class="far fa-user"></span></span>
                                Details
                            </button>
                            <button class="btn btn-primary" type="button" aria-label="love button" title="love button">
                                <span aria-hidden="true" class="far fa-envelope"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of section -->
<!-- Section -->
<section class="section section-md bg-gray-200">
    <div class="container">
        <div class="row mb-6">
            <div class="col-md-12 text-center">
                <span class="h5">Example 2</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-9 col-lg-8 text-center mx-auto">
                <h2 class="h1 mb-4">Funny &amp; Creative Team</h2>
                <p class="lead">We have developed a multi-discipline portfolio as a digital marketing agency, we also have roots in print media and even photography. Our focus is now on WordPress & SEO Services.
                </p>
            </div>
        </div>
        <div class="row mt-6">
            <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="card border-gray-300">
                    <img src="../../assets/img/team/profile-picture-1.jpg" class="card-img-top rounded-top" alt="Joseph Portrait">
                    <div class="card-body">
                        <h3 class="h5 card-title mb-2">Joseph Garth</h3>
                        <span class="card-subtitle text-gray fw-normal">Co-Founder</span>
                        <p class="card-text my-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <ul class="list-unstyled d-flex mt-3 mb-0">
                            <li>
                                <a href="#" target="_blank" aria-label="facebook social link" class="icon-facebook me-3">
                                    <span class="fab fa-facebook-f"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" aria-label="twitter social link" class="icon-twitter me-3">
                                    <span class="fab fa-twitter"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" aria-label="slack social link" class="icon-slack me-3">
                                    <span class="fab fa-slack-hash"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" aria-label="dribbble social link" class="icon-dribbble me-3">
                                    <span class="fab fa-dribbble"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="card border-gray-300">
                    <img src="../../assets/img/team/profile-picture-3.jpg" class="card-img-top rounded-top" alt="Bonnie portrait">
                    <div class="card-body">
                        <h3 class="h5 card-title mb-2">Bonnie Green</h3>
                        <span class="card-subtitle text-gray fw-normal">Web Developer</span>
                        <p class="card-text my-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <ul class="list-unstyled d-flex mt-3 mb-0">
                            <li>
                                <a href="#" target="_blank" aria-label="facebook social link" class="icon-facebook me-3">
                                    <span class="fab fa-facebook-f"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" aria-label="twitter social link" class="icon-twitter me-3">
                                    <span class="fab fa-twitter"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" aria-label="slack social link" class="icon-slack me-3">
                                    <span class="fab fa-slack-hash"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" aria-label="dribbble social link" class="icon-dribbble me-3">
                                    <span class="fab fa-dribbble"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card border-gray-300">
                    <img src="../../assets/img/team/profile-picture-4.jpg" class="card-img-top rounded-top" alt="Jose Avatar">
                    <div class="card-body">
                        <h3 class="h5 card-title mb-2">Jose Leos</h3>
                        <span class="card-subtitle text-gray fw-normal">Web publications designer</span>
                        <p class="card-text my-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <ul class="list-unstyled d-flex mt-3 mb-0">
                            <li>
                                <a href="#" target="_blank" aria-label="facebook social link" class="icon-facebook me-3">
                                    <span class="fab fa-facebook-f"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" aria-label="twitter social link" class="icon-twitter me-3">
                                    <span class="fab fa-twitter"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" aria-label="slack social link" class="icon-slack me-3">
                                    <span class="fab fa-slack-hash"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" aria-label="dribbble social link" class="icon-dribbble me-3">
                                    <span class="fab fa-dribbble"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of section -->
<!-- Section -->
<section class="section section-md">
    <div class="container">
        <div class="row mb-6">
            <div class="col-md-12 text-center">
                <span class="h5">Example 3</span>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-12 col-lg-4">
                <p class="lead"><span class="fw-bold text-dark">Our team</span> helps you to build your project in record time with fun making it. You can see places that are typically inaccessible with Maui helicopter tours.
                </p>
                <p class="lead">Breathtaking sights await those who are up for some fun Maui helicopter tours If you will be staying on the island for a considerable amount of time.</p>
            </div>
            <div class="col-md-12 col-lg-4">
                <p class="lead">Choose between various layouts and behaviours. pixel also provides 3 Layout Styles. Switch easily between full width or boxed and control the container width on all major screen.
                </p>
            </div>
            <div class="col-md-12 col-lg-4 my-4 my-lg-0">
                <div class="progress-wrapper pt-0">
                    <div class="progress-info">
                        <div class="progress-label">
                            <span class="text-danger">Angular</span>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-danger" style="width: 85%" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress-wrapper">
                    <div class="progress-info">
                        <div class="progress-label">
                            <span class="text-success">VueJs</span>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-success" style="width: 75%" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress-wrapper">
                    <div class="progress-info">
                        <div class="progress-label">
                            <span class="text-info">React</span>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-info" style="width: 95%" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress-wrapper">
                    <div class="progress-info">
                        <div class="progress-label">
                            <span class="text-purple">Bootstrap</span>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-purple" style="width: 65%" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="card border-0 text-center">
                    <div class="card-header border-0 bg-white">
                        <img src="../../assets/img/team/profile-picture-2.jpg" class="card-img-top rounded shadow border-0" alt="Christopher Portrait">
                    </div>
                    <div class="card-body">
                        <span class="card-subtitle text-gray fw-normal">Founder</span>
                        <h3 class="h4 card-title mt-2">Christopher Wood</h3>
                        <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0">
                            <li>
                                <a href="#" target="_blank" aria-label="facebook social link" class="icon-facebook me-3">
                                    <span class="fab fa-facebook-f"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" aria-label="twitter social link" class="icon-twitter me-3">
                                    <span class="fab fa-twitter"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" aria-label="slack social link" class="icon-slack me-3">
                                    <span class="fab fa-slack-hash"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" aria-label="dribbble social link" class="icon-dribbble me-3">
                                    <span class="fab fa-dribbble"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="card border-0 text-center">
                    <div class="card-header border-0 bg-white">
                        <img src="../../assets/img/team/profile-picture-3.jpg" class="card-img-top rounded shadow border-0" alt="Bonnie Portrait">
                    </div>
                    <div class="card-body">
                        <span class="card-subtitle text-gray fw-normal">Web Developer</span>
                        <h3 class="h4 card-title mt-2">Bonnie Green</h3>
                        <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0">
                            <li>
                                <a href="#" target="_blank" aria-label="facebook social link" class="icon-facebook me-3">
                                    <span class="fab fa-facebook-f"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" aria-label="twitter social link" class="icon-twitter me-3">
                                    <span class="fab fa-twitter"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" aria-label="slack social link" class="icon-slack me-3">
                                    <span class="fab fa-slack-hash"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" aria-label="dribbble social link" class="icon-dribbble me-3">
                                    <span class="fab fa-dribbble"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card border-0 text-center">
                    <div class="card-header border-0 bg-white">
                        <img src="../../assets/img/team/profile-picture-4.jpg" class="card-img-top rounded shadow border-0" alt="Neil Portrait">
                    </div>
                    <div class="card-body">
                        <span class="card-subtitle text-gray fw-normal">Wordpress Developer</span>
                        <h3 class="h4 card-title mt-2">Neil Sims</h3>
                        <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0">
                            <li>
                                <a href="#" target="_blank" aria-label="facebook social link" class="icon-facebook me-3">
                                    <span class="fab fa-facebook-f"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" aria-label="twitter social link" class="icon-twitter me-3">
                                    <span class="fab fa-twitter"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" aria-label="slack social link" class="icon-slack me-3">
                                    <span class="fab fa-slack-hash"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" aria-label="dribbble social link" class="icon-dribbble me-3">
                                    <span class="fab fa-dribbble"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of section -->
<div class="section-sm">
    <div class="container">
        <div class="row mb-5 mb-sm-0">
            <div class="col-md-12 text-center">
                <span class="fw-bold">Example 4</span>
            </div>
        </div>
    </div>
</div>
<!-- Section -->
<section class="section section-xl bg-tertiary">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 col-lg-4 text-white mb-5 mb-md-0">
                <h2 class="display-2 fw-light mb-2">Our creative <span class="fw-bold">team</span> is here</h2>
                <p class="lead my-4">An innovative collective of like-minded folks making useful and enduring technology products.</p>
                <a href="#" class="btn btn-white text-tertiary">
                    <span class="me-2"><span class="fas fa-book-open"></span></span>
                    Read our story
                </a>
            </div>
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <!-- Profile Card -->
                <div class="card text-center border-0">
                    <div class="profile-cover rounded-top" data-background="../../assets/img/team/cover-profile.jpg"></div>
                    <div class="profile-thumbnail small-thumbnail mt-n6 mx-auto">
                        <img src="../../assets/img/team/profile-picture-4.jpg" class="card-img-top rounded-circle border-white" alt="Joseph Portrait">
                    </div>
                    <div class="card-body">
                        <h3 class="h5 card-title mb-0">Joseph Garth</h3>
                        <a class="btn btn-sm btn-secondary my-3" href="#">
                            <span class="fas fa-user-plus me-1"></span> Follow
                        </a>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0">
                            <li>
                                <a href="#" target="_blank" aria-label="facebook social link" class="icon-facebook me-3">
                                    <span class="fab fa-facebook-f"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" aria-label="twitter social link" class="icon-twitter me-3">
                                    <span class="fab fa-twitter"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" aria-label="slack social link" class="icon-slack me-3">
                                    <span class="fab fa-slack-hash"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" aria-label="dribbble social link" class="icon-dribbble me-3">
                                    <span class="fab fa-dribbble"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End of Profile Card -->
            </div>
            <div class="col-md-6 col-lg-4">
                <!-- Profile Card -->
                <div class="card text-center border-0">
                    <div class="profile-cover rounded-top" data-background="../../assets/img/team/cover-profile.jpg"></div>
                    <div class="profile-thumbnail small-thumbnail mt-n6 mx-auto">
                        <img src="../../assets/img/team/profile-picture-3.jpg" class="card-img-top rounded-circle border-white" alt="Bonnie Portrait">
                    </div>
                    <div class="card-body">
                        <h3 class="h5 card-title mb-0">Bonnie Green</h3>
                        <a class="btn btn-sm btn-secondary my-3" href="#">
                            <span class="fas fa-user-plus me-1"></span> Follow
                        </a>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0">
                            <li>
                                <a href="#" target="_blank" aria-label="facebook social link" class="icon-facebook me-3">
                                    <span class="fab fa-facebook-f"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" aria-label="twitter social link" class="icon-twitter me-3">
                                    <span class="fab fa-twitter"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" aria-label="slack social link" class="icon-slack me-3">
                                    <span class="fab fa-slack-hash"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" aria-label="dribbble social link" class="icon-dribbble me-3">
                                    <span class="fab fa-dribbble"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End of Profile Card -->
            </div>
        </div>
    </div>
</section>
<!-- End of section -->
<!-- Section -->
<section class="section section-md">
    <div class="container">
        <div class="row mb-6">
            <div class="col-md-12 text-center">
                <span class="h5">Example 6</span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card border-gray-300 mb-5 mb-sm-4">
                    <div class="row align-items-center">
                        <div class="col-md-5">
                            <div class="card-image">
                                <a href="#">
                                    <img class="img-fluid rounded-left" src="../../assets/img/team/big-profile-picture-2.jpg" alt="Bonnie Portrait">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <h3 class="card-title">Bonnie Green</h3>
                                <h4 class="h6 text-primary">Co-Founder</h4>
                                <p class="card-description">
                                    I’m a UX/UI Designer and Front End Developer. I enjoy turning complex problems into simple, beautiful and intuitive interface designs. When I’m not coding or pushing pixels, you’ll find me in the gym or on the court shooting hoops.
                                </p>
                                <div class="my-4 d-none d-lg-block">
                                    <div class="progress-wrapper">
                                        <div class="progress-info">
                                            <div class="progress-label">
                                                <span class="text-danger">Angular</span>
                                            </div>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar bg-danger" style="width: 85%" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="progress-wrapper">
                                        <div class="progress-info">
                                            <div class="progress-label">
                                                <span class="text-success">VueJs</span>
                                            </div>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar bg-success" style="width: 100%" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="progress-wrapper">
                                        <div class="progress-info">
                                            <div class="progress-label">
                                                <span class="text-info">React</span>
                                            </div>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar bg-info" style="width: 75%" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                                <img src="../../assets/img/signature.svg" alt="signature" class="mt-4" width="100">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-12 col-lg-8 col-xl-6 mb-4 mb-xl-0">
                <div class="card border-gray-300">
                    <div class="row align-items-center">
                        <div class="col-md-5">
                            <div class="card-image">
                                <a href="#">
                                    <img class="img-fluid rounded-left" src="../../assets/img/team/big-profile-picture-1.jpg" alt="Joseph Avatar">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <h3 class="h4 card-title mb-0">Joseph Garth</h3>
                                <h4 class="h6 text-primary my-2">Developer</h4>
                                <p class="card-description">
                                    Happiness resides not in possessions, and not in gold, happiness dwells in the soul...
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8 col-xl-6">
                <div class="card border-gray-300">
                    <div class="row align-items-center">
                        <div class="col-md-5">
                            <div class="card-image">
                                <a href="#">
                                    <img class="img-fluid rounded-left" src="../../assets/img/team/big-profile-picture-3.jpg" alt="Christopher Avatar">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <h3 class="h4 card-title mb-0">Christopher Wood</h3>
                                <h4 class="h6 text-primary my-2">Designer</h4>
                                <p class="card-description">
                                    Happiness resides not in possessions, and not in gold, happiness dwells in the soul...
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of section -->