<section class="section section-lg pt-0">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-3 text-center">
                <!-- Visit Box -->
                <div class="icon-box mb-4">
                    <div class="icon icon-primary mb-4">
                        <span class="fas fa-user"></span>
                    </div>
                    <h3 class="h5">Team Members</h3>
                    <span class="counter display-3 text-gray d-block">500</span>
                </div>
                <!-- End of Visit Box -->
            </div>
            <div class="col-md-3 col-lg-3 text-center">
                <!-- Call Box -->
                <div class="icon-box mb-4">
                    <div class="icon icon-primary mb-4">
                        <span class="fas fa-money-check"></span>
                    </div>
                    <h3 class="h5">Projects Published</h3>
                    <span class="counter display-3 text-gray d-block">2,400</span>
                </div>
                <!-- End of Call Box -->
            </div>
            <div class="col-md-3 col-lg-3 text-center">
                <!-- Email Box -->
                <div class="icon-box mb-4">
                    <div class="icon icon-primary mb-4">
                        <span class="fas fa-globe-europe"></span>
                    </div>
                    <h3 class="h5">Countries</h3>
                    <span class="counter display-3 text-gray d-block">80</span>
                </div>
                <!-- End of Email Box -->
            </div>
            <div class="col-md-3 col-lg-3 text-center">
                <!-- Email Box -->
                <div class="icon-box mb-4">
                    <div class="icon icon-primary mb-4">
                        <span class="fas fa-globe-europe"></span>
                    </div>
                    <h3 class="h5">Countries</h3>
                    <span class="counter display-3 text-gray d-block">80</span>
                </div>
                <!-- End of Email Box -->
            </div>
            <div class="col-md-3 col-lg-3 text-center">
                <!-- Email Box -->
                <div class="icon-box mb-0">
                    <div class="icon icon-primary mb-4">
                        <span class="fas fa-globe-europe"></span>
                    </div>
                    <h3 class="h5">Countries</h3>
                    <span class="counter display-3 text-gray d-block">80</span>
                </div>
                <!-- End of Email Box -->
            </div>
            <div class="col-md-3 col-lg-3 text-center">
                <!-- Email Box -->
                <div class="icon-box mb-0">
                    <div class="icon icon-primary mb-4">
                        <span class="fas fa-globe-europe"></span>
                    </div>
                    <h3 class="h5">Countries</h3>
                    <span class="counter display-3 text-gray d-block">80</span>
                </div>
                <!-- End of Email Box -->
            </div>
            <div class="col-md-3 col-lg-3 text-center">
                <!-- Email Box -->
                <div class="icon-box mb-0">
                    <div class="icon icon-primary mb-4">
                        <span class="fas fa-globe-europe"></span>
                    </div>
                    <h3 class="h5">Countries</h3>
                    <span class="counter display-3 text-gray d-block">80</span>
                </div>
                <!-- End of Email Box -->
            </div>
            <div class="col-md-3 col-lg-3 text-center">
                <!-- Email Box -->
                <div class="icon-box mb-0">
                    <div class="icon icon-primary mb-4">
                        <span class="fas fa-globe-europe"></span>
                    </div>
                    <h3 class="h5">Countries</h3>
                    <span class="counter display-3 text-gray d-block">80</span>
                </div>
                <!-- End of Email Box -->
            </div>
        </div>
    </div>
</section>