<section class="section section-header bg-primary text-dark pb-md-9 index-hero">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-md-6">
                <h1 class="display-2 mb-4 text-tertiary">Simple &amp; Reliable <span class="text-tertiary fw-bold">messaging.</span>
                </h1>
                <p class="lead text-white mb-1">With Impact, you'll get fast, simple, secure messaging and calling for free*, available on phones all over the world.</p>
                <small class="text-tertiary">* Data charges may apply. Contact your provider for details.</small>
                <div class="d-flex flex-wrap mt-4 mt-lg-5">
                    <a href="#" class="btn btn-white mb-xl-0 me-3">
                        <span class="d-flex align-items-center">
                            <span class="icon icon-brand me-2"><span class="fab fa-apple"></span></span>
                            <span class="d-inline-block text-left">
                                <small class="fw-normal d-block">Available on</small> App Store 
                            </span> 
                        </span>
                    </a>
                    <a href="#" class="btn btn-white">
                        <span class="icon icon-brand me-2"><span class="fab fa-google-play"></span></span>
                        <span class="d-inline-block text-left">
                            <small class="fw-normal d-block">Available on</small> Google Play
                        </span> 
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 text-center">
                <img class="d-none d-md-inline-block" src="../../assets/img/illustrations/spaceship.png" alt="Mobile App Mockup">
            </div>
        </div>
    </div>
    <!-- <figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block mb-n2">
       <svg class="fill-white" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4" style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
          <path d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z"></path>
       </svg>
    </figure> -->
    
</section>
<!-- TIPLE BLOCK -->
<section class="section section-lg py-sm-0">
    <div class="container z-2 mt-sm-n6 mt-md-n7">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="card bg-white border-gray-300 text-gray p-4">
                    <div class="card-header bg-white border-0 pb-0">
                        <h2 class="h4 m-0">Share Moments that Matter</h2>
                    </div>
                    <div class="card-body">
                        <p>
                            Send photos and videos instantly. You can even capture the moments that matter to you most with a built-in camera.                           
                        </p>
                        <a href="#" class="btn btn-sm btn-secondary-app animate-up-2 mt-3">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="card bg-white border-gray-300 text-gray p-4">
                    <div class="card-header bg-white border-0 pb-0">
                        <h2 class="h4 m-0">Speak Freely to your Friends</h2>
                    </div>
                    <div class="card-body">
                        <p>
                            With voice calls, you can talk to your friends and family for free*, even if they're in another country or another continent.                          
                        </p>
                        <a href="#" class="btn btn-sm btn-secondary-app animate-up-2 mt-3">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card bg-white border-gray-300 text-gray p-4">
                    <div class="card-header bg-white border-0 pb-0">
                        <h2 class="h4 m-0">Speak Freely to your Friends</h2>
                    </div>
                    <div class="card-body">
                        <p>
                            With voice calls, you can talk to your friends and family for free*, even if they're in another country or another continent.                          
                        </p>
                        <a href="#" class="btn btn-sm btn-secondary-app animate-up-2 mt-3">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- TRIPLE BLOCK ENDS -->