<div class="section section-lg">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-lg-6">    
                <div class="d-flex flex-wrap justify-content-lg-start">
                    <h2 class="h3 text-center text-lg-left mb-5">Features of your mobile application</h2>
                    <div class="my-4">
                        <div class="d-flex">
                            <div class="me-3 me-md-4">
                                <div class="icon icon-md icon-secondary-app">
                                    <span class="fas fa-shield-alt"></span>
                                </div>
                            </div>
                            <div>
                                <h3 class="h4">Security by default</h3>
                                <p>
                                    When end-to-end encrypted, your messages and calls are secured so only you and the person you're communicating with can read or listen to them, and nobody in between, not even Impact.                                            
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="my-4">
                        <div class="d-flex">
                            <div class="me-3 me-md-4">
                                <div class="icon icon-md icon-secondary-app">
                                    <span class="fas fa-user-circle"></span>
                                </div>
                            </div>
                            <div>
                                <h3 class="h4">Groups to keep in touch</h3>
                                <p>
                                    Keep in touch with the groups of people that matter the most, like your family or coworkers. With group chats, you can share messages, photos, and videos with up to 256 people at once.                                       
                                 </p>
                            </div>
                        </div>
                    </div>
                    <div class="my-4">
                        <div class="d-flex">
                            <div class="me-3 me-md-4">
                                <div class="icon icon-md icon-secondary-app">
                                    <span class="fas fa-file-alt"></span>
                                </div>
                            </div>
                            <div>
                                <h3 class="h4">Document Sharing Made Easy</h3>
                                <p>
                                    Send PDFs, documents, spreadsheets, slideshows and more, without the hassle of email or file sharing apps. You can send documents up to 100 MB, so it's easy to get what you need over to who you want.                                       
                                </p>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="col-12 col-lg-5">
                <img class="d-none d-lg-inline-block" src="../../assets/img/illustrations/app-landing-2.svg" alt="Mobile App Illustration">
            </div>
        </div>
    </div>
</div>