<div class="section section-sm py-0">
    <div class="container">
        <div class="row text-center mb-5">
            <div class="col">
                <h2 class="h6 fw-normal text-brown">We're proudly featured by</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col d-flex justify-content-center flex-wrap">
                <a href="#" aria-label="Stripe brand logo" class="icon icon-xl me-4 me-lg-5" data-bs-toggle="tooltip" data-placement="top" title="" data-bs-original-title="Stripe">
                    <span class="fab fa-stripe"></span>
                </a>
                <a href="#" aria-label="Digg brand logo" class="icon icon-xl me-4 me-lg-5" data-bs-toggle="tooltip" data-placement="top" title="" data-bs-original-title="Digg">
                    <span class="fab fa-digg"></span>
                </a>
                <a href="#" aria-label="FedEx brand logo" class="icon icon-xl me-4 me-lg-5" data-bs-toggle="tooltip" data-placement="top" title="" data-bs-original-title="FedEx">
                    <span class="fab fa-fedex"></span>
                </a>
                <a href="#" aria-label="Ember brand logo" class="icon icon-xl me-4 me-lg-5" data-bs-toggle="tooltip" data-placement="top" title="" data-bs-original-title="Ember">
                    <span class="fab fa-ember"></span>
                </a>
                <a href="#" aria-label="Beyond brand logo" class="icon icon-xl me-4 me-lg-5" data-bs-toggle="tooltip" data-placement="top" title="" data-bs-original-title="Beyond">
                    <span class="fab fa-d-and-d-beyond"></span>
                </a>
                <a href="#" aria-label="AngryCreative brand logo" class="icon icon-xl" data-bs-toggle="tooltip" data-placement="top" title="" data-bs-original-title="AngryCreative">
                    <span class="fab fa-angrycreative"></span>
                </a>
            </div>
        </div>
    </div>
</div>