<section class="section-lg pb-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 text-center mb-5 mb-lg-6">
                <h2 class="display-3 mb-4">Customers love it</h2>
                <p class="lead">The final result of our formula at work. Check out what our clients <br class="d-none d-lg-inline-block"> have to say about our mobile app and our support team.</p>
            </div>
        </div>
        <div class="row mt-lg-6 mb-4 mb-lg-6">
            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="card border-gray-300">
                    <div class="card-body text-center py-5">
                        <img class="image-sm img-fluid mx-auto mb-3" src="../../assets/img/clients/airbnb.svg" alt="Airbnb brand">
                        <span class="d-block">
                            <span class="star fas fa-star text-warning"></span>
                            <span class="star fas fa-star text-warning"></span>
                            <span class="star fas fa-star text-warning"></span>
                            <span class="star fas fa-star text-warning"></span>
                            <span class="star far fa-star text-warning"></span>
                        </span>
                        <p class="px-2 my-4">Pixel has replaced the whiteboard for us! Being able to jump in the same file with someone fills the gap of not being able to gather in person.</p>
                        <a href="#" class="btn btn-link text-black">
                            <span class="me-2"><span class="fas fa-book-open"></span></span> 
                            <span class="fw-bold">Read story</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="card border-gray-300 mt-lg-n6">
                    <div class="card-body text-center py-5">
                        <img class="image-sm img-fluid mx-auto mb-3" src="../../assets/img/clients/corsair.svg" alt="Corsair brand">
                        <span class="d-block">
                            <span class="star fas fa-star text-warning"></span>
                            <span class="star fas fa-star text-warning"></span>
                            <span class="star fas fa-star text-warning"></span>
                            <span class="star fas fa-star text-warning"></span>
                            <span class="star far fa-star text-warning"></span>
                        </span>
                        <p class="px-2 my-4">Pixel has replaced the whiteboard for us! Being able to jump in the same file with someone fills the gap of not being able to gather in person.</p>
                        <a href="#" class="btn btn-link text-black">
                            <span class="me-2"><span class="fas fa-book-open"></span></span> 
                            <span class="fw-bold">Read story</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="card border-gray-300">
                    <div class="card-body text-center py-5">
                        <img class="image-sm img-fluid mx-auto mb-3" src="../../assets/img/clients/paypal.svg" alt="Paypal brand">
                        <span class="d-block">
                            <span class="star fas fa-star text-warning"></span>
                            <span class="star fas fa-star text-warning"></span>
                            <span class="star fas fa-star text-warning"></span>
                            <span class="star fas fa-star text-warning"></span>
                            <span class="star far fa-star text-warning"></span>
                        </span>
                        <p class="px-2 my-4">Pixel has replaced the whiteboard for us! Being able to jump in the same file with someone fills the gap of not being able to gather in person.</p>
                        <a href="#" class="btn btn-link text-black">
                            <span class="me-2"><span class="fas fa-book-open"></span></span> 
                            <span class="fw-bold">Read story</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0 mt-lg-4">
                <div class="card border-gray-300">
                    <div class="card-body text-center py-5">
                        <img class="image-sm img-fluid mx-auto mb-3" src="../../assets/img/clients/ebay.svg" alt="Google brand">
                        <span class="d-block">
                            <span class="star fas fa-star text-warning"></span>
                            <span class="star fas fa-star text-warning"></span>
                            <span class="star fas fa-star text-warning"></span>
                            <span class="star fas fa-star text-warning"></span>
                            <span class="star far fa-star text-warning"></span>
                        </span>
                        <p class="px-2 my-4">Pixel has replaced the whiteboard for us! Being able to jump in the same file with someone fills the gap of not being able to gather in person.</p>
                        <a href="#" class="btn btn-link text-black">
                            <span class="me-2"><span class="fas fa-book-open"></span></span> 
                            <span class="fw-bold">Read story</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0 mt-lg-n5">
                <div class="card border-gray-300">
                    <div class="card-body text-center py-5">
                        <img class="image-sm img-fluid mx-auto mb-3" src="../../assets/img/clients/northwestern.svg" alt="northwestern brand">
                        <span class="d-block">
                            <span class="star fas fa-star text-warning"></span>
                            <span class="star fas fa-star text-warning"></span>
                            <span class="star fas fa-star text-warning"></span>
                            <span class="star fas fa-star text-warning"></span>
                            <span class="star far fa-star text-warning"></span>
                        </span>
                        <p class="px-2 my-4">Pixel has replaced the whiteboard for us! Being able to jump in the same file with someone fills the gap of not being able to gather in person.</p>
                        <a href="#" class="btn btn-link text-black">
                            <span class="me-2"><span class="fas fa-book-open"></span></span> 
                            <span class="fw-bold">Read story</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-lg-4">
                <div class="card border-gray-300">
                    <div class="card-body text-center py-5">
                        <img class="image-sm img-fluid mx-auto mb-3" src="../../assets/img/clients/elastic.svg" alt="Elastic brand">
                        <span class="d-block">
                            <span class="star fas fa-star text-warning"></span>
                            <span class="star fas fa-star text-warning"></span>
                            <span class="star fas fa-star text-warning"></span>
                            <span class="star fas fa-star text-warning"></span>
                            <span class="star far fa-star text-warning"></span>
                        </span>
                        <p class="px-2 my-4">Pixel has replaced the whiteboard for us! Being able to jump in the same file with someone fills the gap of not being able to gather in person.</p>
                        <a href="#" class="btn btn-link text-black">
                            <span class="me-2"><span class="fas fa-book-open"></span></span> 
                            <span class="fw-bold">Read story</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>