<div class="section section-sm bg-white pt-5 pt-lg-6 text-black">
    <article class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                {{ content }}
            </div>
        </div>
        <div class="row justify-content-sm-center align-items-center py-3 mt-3">
            <div class="col-12 col-lg-8">
                <div class="row">
                    <div class="col-9 col-md-6">
                        <h6 class="fw-bolder d-inline mb-0 me-3">Share:</h6>
                        <button class="btn btn-sm me-2 btn-icon-only btn-pill btn-twitter d-inline text-white" aria-label="twitter social link"><span class="fab fa-twitter"></span></button>
                        <button class="btn btn-sm me-2 btn-icon-only btn-pill btn-facebook d-inline" aria-label="facebook social link"><span class="fab fa-facebook-f"></span></button>
                        <button class="btn btn-sm btn-icon-only btn-pill bg-orange d-inline text-white" aria-label="reddit social link"><span class="fab fa-reddit-alien"></span></button>
                    </div>
                    <div class="col-3 col-md-6 text-right">
                        <span class="far fa-bookmark text-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-original-title="Bookmark story" data-bs-original-title="Bookmark story" aria-label="Bookmark story"></span>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>